<p>
  <u>@T["The meaning of acronyms"]:</u>
</p>
<p style="margin-top: 0.8rem;"><strong>@T["JEN"]</strong> – @T["excessively drawn reactive power"]</p>
<p><strong>@T["IND"]</strong> – @T["inductive reactive power"]</p>
<p><strong>@T["KAP"]</strong> – @T["capacitive reactive power"]</p>
<p><strong>@T["MJT"]</strong> – @T["grid fee during the period of a uniform daily tariff"]</p>
<p><strong>@T["MNT"]</strong> – @T["grid fee during the period of a lower daily tariff"]</p>
<p><strong>@T["MU"]</strong> – @T["measurement service fee"]</p>
<p><strong>@T["MVT"]</strong> – @T["grid fee during the period of a higher daily tariff"]</p>
<p><strong>@T["O"]</strong> - @T["read "]</p>
<p>
  <strong>@T["OIEiK"]</strong> – @T["fee for renewable energy sources and high-efficiency cogeneration"]
</p>
<p><strong>@T["OMM"]</strong> – @T["billing metering point"]</p>
<p><strong>@T["P"]</strong> - @T["estimate"]</p>
<p><strong>@T["RJT"]</strong> – @T["working energy during the period of a uniform daily tariff"]</p>
<p>
  <strong>@T["RNT"]</strong> <strong>–</strong> @T["working energy during the period of a lower daily tariff"]
</p>
<p>
  <strong>@T["RVT"] –</strong> @T["working energy during the period of a higher daily tariff"]
</p>
<p><strong>@T["SVT"]</strong> – @T["engaged power during the period of a higher daily tariff"]</p>
<p><strong>@T["TRNP"]</strong> – @T["excise duty for non-business consumption"]</p>
<p><strong>@T["TRP"]</strong> – @T["excise duty for business consumption"]</p>
