<p style="margin-top: 0.8rem;">
  @T["Make the payment to the transaction account"],
  @T["IBAN"] @T["«InvoiceNumberForPayment»"],
  @T["Reference number"]: @T["«ReferenceNumber»"]
</p>
<table class="info-table" style="margin-top: 0.8rem; width: 100%;">
  <colgroup>
    <col style="width: 71%"/>
    <col style="width: 28%"/>
  </colgroup>
  <thead>
  <tr>
    <th style="text-align: left;">@T["Operator"]: HELB d.o.o.</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Božjakovina, @(DateString(Invoice.IssuedOn))</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td style="text-align: center;">@T["Director"]</td>
  </tr>
  <tr>
    <td></td>
    <td style="text-align: center;">Stjepan Horvat</td>
  </tr>
  </tbody>
</table>

@code {

  [Parameter]
  public InvoiceModel Invoice { get; set; } = default!;

}
