@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models

@namespace Ozds.Client.Pages

@page "/administration/location/{id?}"

@inherits OzdsComponentBase

<Mutating T="LocationModel" Id="@Id">
  <Edit>
    <HeadContent>
      @if (context.Created)
      {
        <title>OZDS - @Translate("New location")</title>
      }
      else
      {
        <title>OZDS - @Translate("Locationotification"): @context.Model.Title</title>
      }
    </HeadContent>

    <LocationEdit Model="@context.Model" />
  </Edit>
  <Details>
    <HeadContent>
      <title>OZDS - @Translate("Location"): @context.Model.Title</title>
    </HeadContent>

    <LocationDetails Model="@context.Model" />
  </Details>
</Mutating>

@code {
  [Parameter]
  public string? Id { get; set; } = default!;
}
