@namespace Ozds.Client.Pages

@page "/administration/locations"

@attribute [Navigation(
Order = 1,
Title = "Locations",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(AdministrationPage),
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative
])]
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Tables
@inherits Ozds.Client.Components.Base.OzdsComponentBase

@if (RepresentativeState.Representative.Role
  is not (RoleModel.OperatorRepresentative
  or RoleModel.LocationRepresentative))
{
  <NotFound/>
  return;
}

<HeadContent>
  <title>OZDS - @Translate("Locations")</title>
</HeadContent>

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <MudCheckBox
    Label="@Translate("Deleted")"
    @bind-Value="_deleted"/>
}

<Paging PageAsync="OnPageAsync">
  <Found Context="models">
    <ResponsiveTable Model="@models.Items">
      <Summary>
        <Summary Model="@context"/>
      </Summary>
      <Details>
        <Details Model="@context"/>
      </Details>
      <Columns>
        <Columns Models="@models.Items"/>
      </Columns>
    </ResponsiveTable>
  </Found>
</Paging>

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <MudLink Href="@(PageHref<LocationPage>())">
    @Translate("Create")
  </MudLink>
}
