@namespace Ozds.Client.Pages

@page "/administration/location/{id?}"

@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models
@using Ozds.Business.Models.Enums
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@inherits Ozds.Client.Components.Models.Base.OzdsIdentifiableModelPageComponentBase<Ozds.Business.Models.LocationModel>

@if (RepresentativeState.Representative.Role
  is not RoleModel.OperatorRepresentative
  or RoleModel.LocationRepresentative)
{
  <NotFound/>
  return;
}

<Mutating T="LocationModel" LoadAsync="OnLoadAsync">
  <Label>
    @if (context.Created
      && RepresentativeState.Representative.Role
        is RoleModel.LocationRepresentative)
    {
      <NotFound/>
      return;
    }

    <HeadContent>
      @if (context.Created)
      {
        <title>OZDS - @Translate("New location")</title>
      }
      else
      {
        <title>OZDS - @Translate("Location"): @context.Model.Title</title>
      }
    </HeadContent>
  </Label>
  <Edit>
    @if (context.Created
      && RepresentativeState.Representative.Role
        is RoleModel.LocationRepresentative)
    {
      return;
    }

    <Edit Model="@context.Model"/>
  </Edit>
  <Details>
    @if (context.Created
      && RepresentativeState.Representative.Role
        is RoleModel.LocationRepresentative)
    {
      return;
    }

    <Details Model="@context.Model"/>
  </Details>
</Mutating>
