@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.DependencyInjection
@using Ozds.Business.Finance.Abstractions
@using Ozds.Business.Models
@using Ozds.Business.Queries
@using Ozds.Business.Time
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Models.Base
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming

@namespace Ozds.Client.Pages

@page "/administration/network-user/{id?}"

@inherits OzdsIdentifiableModelPageComponentBase<NetworkUserModel>

<Mutating T="NetworkUserModel" LoadAsync="OnLoadAsync">
  <Label>
    <HeadContent>
      @if (context.Created)
      {
        <title>OZDS - @Translate("New network user")</title>
      }
      else
      {
        <title>OZDS - @Translate("Network user"): @context.Model.Title</title>
      }
    </HeadContent>
  </Label>
  <Edit>
    <NetworkUserEdit Model="@context.Model" />
  </Edit>
  <Details>
    <NetworkUserDetails Model="@context.Model" />
  </Details>
</Mutating>
