@namespace Ozds.Client.Pages

@page "/administration/network-users"

@attribute [Navigation(
Order = 2,
Title = "Network users",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(AdministrationPage),
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Analysis
@using Ozds.Business.Models
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Tables
@using Ozds.Client.State
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Network users")</title>
</HeadContent>

@{
  var analyses = AnalysisState.AnalysisBases.Value
    .AnalysesByNetworkUser();
}

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <MudCheckBox
    Label="@Translate("Deleted")"
    @bind-Value="_deleted"/>
}

@if (_deleted)
{
  <Paging T="NetworkUserModel" Deleted="@_deleted"/>
}
else
{
  <ResponsiveTable Model="@analyses"/>
}

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <MudLink Href="@(PageHref<NetworkUserPage>())">
    @Translate("Create")
  </MudLink>
}

@code {

  [CascadingParameter]
  public AnalysisState AnalysisState { get; set; } = default!;

  [CascadingParameter]
  private RepresentativeState RepresentativeState { get; set; } = default!;

  private bool _deleted;
}
