@namespace Ozds.Client.Pages

@page "/administration/network-user/{id?}"
@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@inherits Ozds.Client.Components.Models.Base.OzdsIdentifiableModelPageComponentBase<Ozds.Business.Models.NetworkUserModel>

<Mutating T="NetworkUserModel" LoadAsync="OnLoadAsync">
  <Label>
    <HeadContent>
      @if (context.Created)
      {
        <title>OZDS - @Translate("New network user")</title>
      }
      else
      {
        <title>OZDS - @Translate("Network user"): @context.Model.Title</title>
      }
    </HeadContent>
  </Label>
  <Edit>
    <Edit Model="@context.Model"/>
  </Edit>
  <Details>
    <Details Model="@context.Model"/>
  </Details>
</Mutating>
