@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.DependencyInjection
@using Ozds.Business.Models.Composite
@using Ozds.Business.Models
@using Ozds.Business.Mutations
@using Ozds.Business.Queries
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Models.Base
@using Ozds.Client.Components.Streaming

@namespace Ozds.Client.Pages

@page "/administration/user/{id}"

@inherits OzdsIdentifiableModelPageComponentBase<RepresentativeModel>

<Mutating
  T="MaybeRepresentingUserModel"
  LoadAsync="OnLoadAsync"
  UpdateAsync="OnUpdateAsync"
  DeleteAsync="OnDeleteAsync">
  <Label>
    <HeadContent>
      @if (context.Created)
      {
        <title>OZDS - @Translate("New user")</title>
      }
      else
      {
        <title>OZDS - @Translate("User"): @context.Model.User.UserName</title>
      }
    </HeadContent>
  </Label>
  <Details>
    <MaybeRepresentingUserDetails Model="@context.Model"/>
  </Details>
  <Edit>
    <MaybeRepresentingUserEdit Model="@context.Model"/>
  </Edit>
</Mutating>
