@namespace Ozds.Client.Pages

@page "/administration/users"

@attribute [Navigation(
Order = -1000,
Title = "Users",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(AdministrationPage),
Allows = [RoleModel.OperatorRepresentative])]
@using Microsoft.AspNetCore.Components.Web
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@inherits Ozds.Client.Components.Base.OzdsComponentBase

@if (RepresentativeState.Representative.Role
  is not RoleModel.OperatorRepresentative)
{
  <NotFound/>
  return;
}

<HeadContent>
  <title>OZDS - @Translate("Users")</title>
</HeadContent>

<Table PageAsync="OnPageAsync">
  <Summary>
    <Summary Model="@context.User"/>
  </Summary>
  <Details>
    <Details Model="@context.User"/>
    @if (context.Representative is { } representative)
    {
      <Details Model="@representative"/>
    }
  </Details>
  <Columns>
    <PrefixedColumns
      Models="@context"
      Prefix="@(x => x.Representative)"/>
    <PrefixedColumns
      Models="@context"
      Prefix="@(x => x.User)"/>
  </Columns>
</Table>
