@namespace Ozds.Client.Pages

@page "/administration/users"

@attribute [Navigation(
Order = -1000,
Title = "Users",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(AdministrationPage),
Allows = [RoleModel.OperatorRepresentative])]
@using Microsoft.AspNetCore.Components.Web
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Tables
@using Ozds.Client.Components.Models
@inherits Ozds.Client.Components.Base.OzdsComponentBase

@if (RepresentativeState.Representative.Role
  is not RoleModel.OperatorRepresentative)
{
  <NotFound/>
  return;
}

<HeadContent>
  <title>OZDS - @Translate("Users")</title>
</HeadContent>

<Paging PageAsync="OnPageAsync">
  <Found Context="models">
    <ResponsiveTable Model="@models.Items">
      <Summary>
        <Summary Model="@context.User"/>
      </Summary>
      <Details>
        <Details Model="@context.User"/>
        @if (context.Representative is { } representative)
        {
          <Details Model="@representative"/>
        }
      </Details>
      <Columns>
        <PrefixedColumns
          Models="@models.Items"
          Prefix="@(x => x.User)" />
        <PrefixedColumns
          Models="@models.Items"
          Prefix="@(x => x.Representative)" />
      </Columns>
    </ResponsiveTable>
  </Found>
</Paging>
