@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Client.Components.Providers
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.State

@namespace Ozds.Client.Components.Layout

@inherits OzdsLayoutComponentBase

<ThemeStateProvider>
  <LayoutStateProvider>
    <CascadingFragment T="ThemeState" Context="themeState">
      @{
        var footerBackgroundColor = themeState.IsDarkMode
          ? themeState.Theme.PaletteDark.BackgroundGrey
          : themeState.Theme.Palette.BackgroundGrey;
      }
      <CascadingFragment T="LayoutState" Context="layoutState">
        @{
          var anyDrawerOpen = layoutState.IsUserDrawerOpen
            || layoutState.IsLocalizationDrawerOpen
            || layoutState.IsNavigationDrawerOpen;
        }

        <style>
          html, body {
            height: 100vh;
          }

          body {
            display: flex;
            flex-direction: column;
          }

          body {
            overflow-y: @(anyDrawerOpen ? "hidden" : "auto");
          }

          main {
            flex: 1;
          }

          footer {
            min-height: 120px;
            margin-top: 32px;
          }

          footer {
            background-color: @(footerBackgroundColor);
          }
        </style>

        <header>
          <Header MaxWidth="@MaxWidth.Large" />
        </header>

        <main>
          <Main MaxWidth="@MaxWidth.Large" >
            @Body
          </Main>
        </main>

        <footer>
          <Footer MaxWidth="@MaxWidth.Large" />
        </footer>
      </CascadingFragment>
    </CascadingFragment>
  </LayoutStateProvider>
</ThemeStateProvider>
