@namespace Ozds.Client.Components.Layout

@using MudBlazor
@using Ozds.Client.State
@inherits Ozds.Client.Components.Base.OzdsLayoutComponentBase

@{
  var footerBackgroundColor = ThemeState.IsDarkMode
    ? ThemeState.Theme.PaletteDark.BackgroundGray
    : ThemeState.Theme.PaletteLight.BackgroundGray;

  var anyDrawerOpen = LayoutState.IsUserDrawerOpen
    || LayoutState.IsLocalizationDrawerOpen
    || LayoutState.IsNavigationDrawerOpen;
}

<style>
  html, body {
    height: 100vh;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  body {
    overflow-y: @(anyDrawerOpen ? "hidden" : "auto");
  }

  main {
    flex: 1;
  }

  footer {
    min-height: 120px;
    margin-top: 32px;
  }

  footer {
    background-color: @(footerBackgroundColor);
  }
</style>

<header>
  <Header MaxWidth="@MaxWidth.Large"/>
</header>

<main>
  <Main MaxWidth="@MaxWidth.Large">
    @Body
  </Main>
</main>

<footer>
  <Footer MaxWidth="@MaxWidth.Large"/>
</footer>

@code {

  [CascadingParameter]
  public LayoutState LayoutState { get; set; } = default!;

  [CascadingParameter]
  public ThemeState ThemeState { get; set; } = default!;

}
