@using System.Globalization
@using Ozds.Client.Components.Base
@using Ozds.Client.State
@using MudBlazor

@namespace Ozds.Client.Components.Layout

@inherits OzdsComponentBase

<MudDrawer
  Open="@LayoutState.IsLocalizationDrawerOpen"
  OpenChanged="SetLocalizationDrawerOpen"
  Elevation="0"
  Anchor="@LayoutState.DrawerAnchor"
  Variant="DrawerVariant.Temporary"
  ClipMode="DrawerClipMode.Never">
  <MudDrawerHeader>
    <MudContainer
      MaxWidth="@MaxWidth"
      Class="@($"d-flex flex-column {Class}")"
      Style="@($"width: 100%; {Style}")">
      <MudText Typo="Typo.h6" Style="text-align: center;">
        @Translate("Localization")
      </MudText>
    </MudContainer>
  </MudDrawerHeader>
  <MudDivider />
  <MudDrawerContainer>
    <MudNavMenu>
      <MudNavLink OnClick="OnCroatianClick">
        <MudContainer
          MaxWidth="@MaxWidth"
          Class="@($"d-flex flex-column {Class}")"
          Style="@($"width: 100%; {Style}")">
          <MudHidden Breakpoint="Breakpoint.Xs">
            <div
              style="margin-left: -8px;"
              class="d-flex flex-row align-center">
              <MudIcon Icon="@Icons.Material.Filled.Language" />
            </div>
          </MudHidden>
          <MudHidden Breakpoint="Breakpoint.SmAndUp">
            <div
              style="margin-left: -28px;"
              class="d-flex flex-row align-center">
              <MudIcon Icon="@Icons.Material.Filled.Language" />
            </div>
          </MudHidden>
          <MudText Class="ml-4">
            @_croatianCulture.NativeName
          </MudText>
        </MudContainer>
      </MudNavLink>
      <MudNavLink OnClick="OnEnglishClick">
        <MudContainer
          MaxWidth="@MaxWidth"
          Class="@($"d-flex flex-column {Class}")"
          Style="@($"width: 100%; {Style}")">
          <MudHidden Breakpoint="Breakpoint.Xs">
            <div
              style="margin-left: -8px;"
              class="d-flex flex-row align-center">
              <MudIcon Icon="@Icons.Material.Filled.Language" />
            </div>
          </MudHidden>
          <MudHidden Breakpoint="Breakpoint.SmAndUp">
            <div
              style="margin-left: -28px;"
              class="d-flex flex-row align-center">
              <MudIcon Icon="@Icons.Material.Filled.Language" />
            </div>
          </MudHidden>
        <MudText Class="ml-4">
            @_englishCulture.NativeName
          </MudText>
        </MudContainer>
      </MudNavLink>
    </MudNavMenu>
  </MudDrawerContainer>
</MudDrawer>

@code {
  [Parameter]
  public MaxWidth MaxWidth { get; set; } = MaxWidth.Large;

  [Parameter]
  public string Style { get; set; } = string.Empty;

  [Parameter]
  public string Class { get; set; } = string.Empty;
}
