@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.Extensions.Hosting
@using MudBlazor
@using Ozds.Client.State
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base

@namespace Ozds.Client.Components.Layout

@inherits OzdsComponentBase

@inject IHostEnvironment Environment

@if (!Environment.IsDevelopment()
  || (Descriptor.Navigation.Developer ?? false))
{
  return;
}

@{
  var match = Descriptor.Children.Any()
    ? NavLinkMatch.Prefix
    : NavLinkMatch.All;
}

<MudNavLink Href="@Descriptor.Route.Template" Match="match">
  <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-row">
    <MudHidden Breakpoint="Breakpoint.Xs">
      <div style="margin-left: -8px;" class="d-flex flex-row align-center">
        <MudIcon Icon="@Descriptor.Navigation.Icon" />
      </div>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.SmAndUp">
      <div style="margin-left: -28px;" class="d-flex flex-row align-center">
        <MudIcon Icon="@Descriptor.Navigation.Icon" />
      </div>
    </MudHidden>
    <MudText Class="ml-4">
      @Translate(Descriptor.Navigation.Title)
    </MudText>
  </MudContainer>

  @if (Descriptor.Children.Any())
  {
    <MudNavGroup
      Expanded="@LayoutState.IsNavigationDrawerOpen"
      Title="@Translate(Descriptor.Navigation.Title)"
      Style="justify-self: center; max-width: 600px; font-size:larger;">
      @foreach (var child in Descriptor.Children)
      {
        <NavigationItem Descriptor="child" />
      }
    </MudNavGroup>
  }
</MudNavLink>

@code {
  [Parameter]
  public NavigationAttribute.NavigationDescriptor
    Descriptor { get; set; } = default!;

  [CascadingParameter]
  private LayoutState LayoutState { get; set; } = default!;
}
