@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.Extensions.Logging
@using MudBlazor
@using Ozds.Client.Components.Base
@using Ozds.Client.State

@namespace Ozds.Client.Components.Layout

@inherits OzdsComponentBase

@inject IAntiforgery Antiforgery
@inject IHttpContextAccessor HttpContextAccessor
@inject ILogger<UserDrawer> Logger

<MudDrawer
  Open="@LayoutState.IsUserDrawerOpen"
  OpenChanged="open => LayoutState.SetUserDrawerOpen(open)"
  Elevation="0"
  Anchor="@LayoutState.DrawerAnchor"
  Variant="DrawerVariant.Temporary"
  ClipMode="DrawerClipMode.Never">
  <MudDrawerHeader>
    <MudContainer
      MaxWidth="@MaxWidth"
      Class="@($"d-flex flex-column {Class}")"
      Style="@($"width: 100%; {Style}")">
      <MudText Typo="Typo.h6" Style="text-align: center;">
        @(UserState?.User.UserName)
      </MudText>
    </MudContainer>
  </MudDrawerHeader>
  <MudDivider />
  <MudDrawerContainer>
    <MudNavMenu>
      <MudNavLink OnClick="OnAccountClick">
        <MudContainer
          MaxWidth="@MaxWidth"
          Class="@($"d-flex flex-column {Class}")"
          Style="@($"width: 100%; {Style}")">
          <MudHidden Breakpoint="Breakpoint.Xs">
            <div
              style="margin-left: -8px;"
              class="d-flex flex-row align-center">
              <MudIcon Icon="@Icons.Material.Filled.Person" />
            </div>
          </MudHidden>
          <MudHidden Breakpoint="Breakpoint.SmAndUp">
            <div
              style="margin-left: -28px;"
              class="d-flex flex-row align-center">
              <MudIcon Icon="@Icons.Material.Filled.Person" />
            </div>
          </MudHidden>
          <MudText Class="ml-4">
            @Translate("Account")
          </MudText>
        </MudContainer>
      </MudNavLink>
      <MudForm method="post" action="@LogoutHref">
        <input
          type="hidden"
          name="__RequestVerificationToken"
          value="@UserState.LogoutToken"/>
        <MudButton
          ButtonType="ButtonType.Submit"
          DropShadow="false"
          Ripple="false"
          OnClick="OnLogoutClick"
          Style="width: 100%; padding: 8px 16px 8px 16px;">
          <MudContainer
            MaxWidth="@MaxWidth"
            Class="@($"d-flex flex-column {Class}")"
            Style="@($"width: 100%; {Style}")">
            <MudHidden Breakpoint="Breakpoint.Xs">
              <div
                style="margin-left: -8px;"
                class="d-flex flex-row align-center">
                <MudIcon Icon="@Icons.Material.Filled.Login" />
              </div>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndUp">
              <div
                style="margin-left: -28px;"
                class="d-flex flex-row align-center">
                <MudIcon Icon="@Icons.Material.Filled.Login" />
              </div>
            </MudHidden>
            <MudText Class="ml-4">
              @Translate("Logout")
            </MudText>
          </MudContainer>
        </MudButton>
      </MudForm>
    </MudNavMenu>
  </MudDrawerContainer>
</MudDrawer>

@code {
  [Parameter]
  public MaxWidth MaxWidth { get; set; } = default;

  [Parameter]
  public string Style { get; set; } = string.Empty;

  [Parameter]
  public string Class { get; set; } = string.Empty;
}
