@inherits LayoutComponentBase
@using Theme = Theme
@using MudBlazor.ThemeManager

@* TODO: get pages and make breadcrumbs by crawling through assemblies *@

@inject NavigationManager _navigationManager

<main>
  <MudThemeProvider Theme="_themeManager.Theme"/>
  <MudDialogProvider/>
  <MudSnackbarProvider/>
  @if (_user is not null)
  {
    <MudLayout>
      <MudAppBar Elevation="4">
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
          <MudIconButton
            Icon="@Icons.Material.Outlined.Menu"
            Color="MudColor.Inherit"
            Edge="Edge.Start"
            OnClick="e => DrawerToggle()"/>
        </MudHidden>
        <svg style="height: 30px" width="368" height="80" viewBox="0 0 368 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_601_10)">
            <path d="M180.14 4.82001V74.39H159.95V47.88H135.63V74.39H115.44V4.82001H135.63V31.83H159.95V4.82001H180.14Z" fill="#FFDF0C"/>
            <path d="M240.94 58.34V74.39H191.32V4.82001H240.82V20.87H211.51V31.94H237.42V48H211.51V58.34H240.94Z" fill="#FFDF0C"/>
            <path d="M302.57 58.34V74.39H251.98V4.82001H272.18V58.34H302.57Z" fill="#FFDF0C"/>
            <path d="M348.51 52.25C348.51 49.25 346.44 46.17 341.95 46.17H330.39V58.74H341.95C342.813 58.7788 343.674 58.6394 344.48 58.3305C345.286 58.0215 346.02 57.5497 346.636 56.9444C347.251 56.3391 347.735 55.6134 348.058 54.8125C348.38 54.0117 348.534 53.153 348.51 52.29M338.77 20.54H330.39V31.21H338.77C339.468 31.2143 340.16 31.078 340.805 30.8091C341.449 30.5403 342.033 30.1444 342.521 29.6451C343.009 29.1458 343.391 28.5534 343.646 27.9031C343.9 27.2528 344.02 26.5579 344 25.86C344.03 25.1591 343.917 24.4594 343.666 23.8041C343.416 23.1487 343.034 22.5516 342.544 22.0495C342.054 21.5474 341.466 21.1508 340.817 20.8844C340.168 20.6179 339.472 20.4871 338.77 20.5M367.97 54.44C367.97 65.87 359.7 74.38 343.89 74.38H310.68V4.82001H339.76C355.08 4.82001 363.71 13.22 363.71 24.04C363.71 29.51 361.64 33.4 357.38 36.8C364.8 40.94 367.97 46.41 367.97 54.44Z" fill="#FFDF0C"/>
            <path d="M72.01 60.59H49.18C49.5569 59.7159 49.7443 58.7718 49.73 57.82C49.73 53.22 46.07 49.67 39.56 49.67H27.25V60.59H6.83V18.36H25.69V29.52H34.25V16.07L44.58 13.31V29.52H53.15V18.36H72.01V60.59ZM35.58 56.05H39.15C39.447 56.0457 39.7417 56.1019 40.0163 56.2151C40.2908 56.3283 40.5395 56.4962 40.7472 56.7086C40.9548 56.9209 41.1171 57.1732 41.2242 57.4503C41.3313 57.7273 41.3809 58.0232 41.37 58.32C41.3837 58.9005 41.1694 59.4632 40.7731 59.8875C40.3768 60.3118 39.83 60.564 39.25 60.59H35.58V56.05ZM35.58 67.43H40.49C40.8446 67.4007 41.2015 67.4459 41.5376 67.5627C41.8737 67.6796 42.1817 67.8655 42.4416 68.1085C42.7016 68.3515 42.9078 68.6462 43.047 68.9737C43.1863 69.3012 43.2554 69.6542 43.25 70.01C43.2584 70.3733 43.1925 70.7346 43.0564 71.0716C42.9202 71.4086 42.7167 71.7142 42.4583 71.9698C42.1999 72.2254 41.8921 72.4255 41.5536 72.558C41.2152 72.6904 40.8532 72.7524 40.49 72.74H35.58V67.43ZM78.84 67.43V11.53H53.15V0H44.58V6.48L34.25 9.24V0H25.69V11.53H0V67.43H27.25V79.21H41.32C48.03 79.21 51.54 75.59 51.54 70.74C51.5615 69.6081 51.3716 68.4822 50.98 67.42L78.84 67.43Z" fill="#FFDF0C"/>
          </g>
          <defs>
            <clipPath id="clip0_601_10">
              <rect width="367.97" height="79.21" fill="white"/>
            </clipPath>
          </defs>
        </svg>
        <MudSpacer/>
        <MudMenu AnchorOrigin="Origin.CenterLeft" Dense="true" Class="mt-1 ml-4">
          <ActivatorContent>
            <MudItem Class="mx-2">
              @_user.UserName
            </MudItem>
            <MudIcon Icon="@Icons.Material.Filled.Person"/>
          </ActivatorContent>
          <ChildContent>
            <MudListItem Text="Account" Icon="@Icons.Material.Outlined.Person" Href="app/account" ForceLoad="true"/>
            <MudListItem Text="Logout" Icon="@Icons.Material.Outlined.Login" Href="login" ForceLoad="true"/>
          </ChildContent>
        </MudMenu>
      </MudAppBar>
      <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="_themeManager.DrawerClipMode">
        <MudNavMenu>
          @foreach (var site in _allowedSites)
          {
            if (_user.RoleNames.Any(element => site.roles.Contains(element)))
            {
              <MudNavLink Href="@site.url" Icon="@site.icon">@site.name</MudNavLink>
            }
          }
        </MudNavMenu>
      </MudDrawer>
      <MudMainContent>
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
          <MudToolBar DisableGutters="true">
            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" OnClick="@(e => DrawerToggle())" Class="ml-3"/>
            @* <MudBreadcrumbs Items="_items"></MudBreadcrumbs>
          <MudSpacer /> *@
          </MudToolBar>
        </MudHidden>
        <MudContainer MaxWidth="MaxWidth.Large" Class="mt-4">
          @Body
        </MudContainer>
      </MudMainContent>
    </MudLayout>
  }
</main>

@code {
  public bool _drawerOpen = true;
  private readonly ThemeManagerTheme _themeManager = new();

  public string[] _roles = { "Administrator", "Distribution System Operator Representative", "Closed Distribution System Representative", "Distribution System Unit Representative" };

  private readonly List<(string url, string name, string icon, List<string> roles)> _allowedSites = new()
  {
    ("/ozds/app/#", "Naslovnica", Icons.Material.Outlined.Home, new List<string> { "Administrator", "Distribution System Operator Representative", "Closed Distribution System Representative", "Distribution System Unit Representative" }),
    ("/ozds/app/tenants", "Korisnici mreže", Icons.Material.Outlined.AccountTree, new List<string> { "Closed Distribution System Representative", "Distribution System Operator Representative" }),
    ("/ozds/app/invoices", "Računi", Icons.Material.Outlined.Receipt, new List<string> { "Distribution System Operator Representative", "Closed Distribution System Representative", "Distribution System Unit Representative" }),
    ("/ozds/app/subusage", "Mjerna mjesta", Icons.Material.Outlined.AttachMoney, new List<string> { "Distribution System Operator Representative", "Closed Distribution System Representative", "Closed Distribution System Representative" }),
    ("/ozds/app/owners", "Vlasnici lokacija", Icons.Material.Outlined.AccountTree, new List<string> { "Distribution System Operator Representative" }),
    ("/ozds/admin", "Admin", Icons.Material.Outlined.VerifiedUser, new List<string> { "Administrator" }),
    ("/ozds/login", "Prijava", Icons.Material.Outlined.Login, new List<string> { "Administrator", "Distribution System Operator Representative", "Closed Distribution System Representative", "Distribution System Unit Representative" })
  };

  protected override void OnInitialized()
  {
    _themeManager.Theme = new Theme();
    _themeManager.DrawerClipMode = DrawerClipMode.Always;
    _themeManager.FontFamily = "Roboto";
    _themeManager.DefaultBorderRadius = 3;
  }

  protected override async Task OnLayoutInitializedAsync()
  {
    await WithTransientSessionAsync(async session =>
    {
      try
      {
        _user = await this.GetAuthenticatedOrchardCoreUserAsync();
      }
      catch
      {
        RedirectLogin();
      }
    });
  }

  private void RedirectLogin()
  {
    try
    {
      _navigationManager.NavigateTo("/login", true);
    }
    catch
    {
    }
  }

  void DrawerToggle()
  {
    _drawerOpen = !_drawerOpen;
  }

}
