@namespace Ozds.Client.Pages

@page "/administration"

@attribute [Navigation(
Order = 13,
Title = "Administration",
Icon = Icons.Material.Filled.VerifiedUser,
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]
@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Analysis
@using Ozds.Business.Queries.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Administration")</title>
</HeadContent>

@{
  var networkUsers = AnalysisState.AnalysisBases.Value.AnalysesByNetworkUser();
}

<Table Model="@networkUsers" />

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <Table PageAsync="@OnUserPageAsync">
    <Summary>
      <Summary Model="@context.User"/>
    </Summary>
    <Details>
      <Details Model="@context.User"/>
      @if (context.Representative is { } representative)
      {
        <Details Model="@representative"/>
      }
    </Details>
    <Columns>
      <PrefixedColumns
        Models="@context"
        Prefix="@(x => x.User)"/>
      <PrefixedColumns
        Models="@context"
        Prefix="@(x => x.Representative)"/>
    </Columns>
  </Table>
}
