@namespace Ozds.Client.Pages

@page "/finances/catalogues"

@attribute [Navigation(
Order = 1000,
Title = "Catalogues",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(FinancesPage),
Allows = [
RoleModel.OperatorRepresentative,
])]
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Models.Enums
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Tables
@using Ozds.Client.State
@inherits Ozds.Client.Components.Base.OzdsComponentBase

@if (RepresentativeState.Representative.Role
  is not RoleModel.OperatorRepresentative)
{
  <NotFound />
  return;
}

<HeadContent>
  <title>OZDS - @Translate("Catalogues")</title>
</HeadContent>

<MudCheckBox
  Label="@Translate("Deleted")"
  @bind-Value="_deleted"/>

<MudText>
  @Translate("Network user catalogues")
</MudText>

<Paging T="INetworkUserCatalogue" Deleted="@_deleted" />

<MudLink Href="@(PageHref<NetworkUserCataloguePage>())">
  @Translate("Create")
</MudLink>

<MudText>
  @Translate("Regulatory catalogues")
</MudText>

<Paging T="IRegulatoryCatalogue" Deleted="@_deleted" />

<MudLink Href="@(PageHref<RegulatoryCataloguePage>())">
  @Translate("Create")
</MudLink>

@code {
  private bool _deleted = false;

  [CascadingParameter]
  private RepresentativeState RepresentativeState { get; set; } = default!;
}
