@namespace Ozds.Client.Pages

@page "/finances/invoices"

@attribute [Navigation(
Order = 0,
Title = "Invoices",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(FinancesPage),
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]
@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Tables
@using Ozds.Client.State
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Invoices")</title>
</HeadContent>

@{
  var invoices = AnalysisState.AnalysisBases.Value
    .SelectMany(analysisBasis => analysisBasis.Invoices)
    .OfType<INetworkUserInvoice>()
    .ToList();
}

<ResponsiveTable Model="@invoices">
  <Summary>
    <Summary Model="@context"/>
  </Summary>
  <Details>
    <Details Model="@context"/>
  </Details>
  <Columns>
    <Columns Models="@invoices"/>
  </Columns>
</ResponsiveTable>

@code {

  [CascadingParameter]
  public AnalysisState AnalysisState { get; set; } = default!;

}
