@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Models.Base

@namespace Ozds.Client.Pages

@page "/finances/network-user-calculation/{id}"

@inherits OzdsIdentifiableModelPageComponentBase<INetworkUserCalculation>

<Mutating T="INetworkUserCalculation" Id="@Id">
  <Edit>
    @if (context.Created)
    {
      <NotFound />
      return;
    }

    <HeadContent>
      <title>OZDS - @Translate("Calculation"): @context.Model.Title</title>
    </HeadContent>

    <CalculationEdit Model="@context.Model" />
  </Edit>
  <Details>
    <HeadContent>
      <title>OZDS - @Translate("Calculation"): @context.Model.Title</title>
    </HeadContent>

    <CalculationDetails Model="@context.Model" />
  </Details>
</Mutating>

@code {
  [Parameter]
  public string Id { get; set; } = default!;
}
