@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.DependencyInjection
@using Ozds.Business.Models
@using Ozds.Business.Models.Abstractions
@using Ozds.Business.Queries
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Base

@namespace Ozds.Client.Pages

@page "/finances/network-user-invoice/{id}"

@inherits OzdsComponentBase

<Mutating T="INetworkUserInvoice" Id="@Id">
  <Edit>
    @if (context.Created)
    {
      <NotFound />
      return;
    }

    <HeadContent>
      <title>OZDS - @Translate("Invoice"): @context.Model.Title</title>
    </HeadContent>

    <InvoiceEdit Model="@context.Model" />
  </Edit>
  <Details>
    <HeadContent>
      <title>OZDS - @Translate("Invoice"): @context.Model.Title</title>
    </HeadContent>

    <InvoiceDetails Model="@context.Model" />
  </Details>
</Mutating>

@code {
  [Parameter]
  public string Id { get; set; } = default!;
}
