@namespace Ozds.Document.Components

@inherits DocumentBase

<p>
  <u>@Translate("The meaning of acronyms"):</u>
</p>
<p style="margin-top: 0.8rem;">
  <strong>@Translate("JEN")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("excessively drawn reactive power")
</p>
<p>
  <strong>@Translate("IND")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("inductive reactive power")
</p>
<p>
  <strong>@Translate("KAP")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("capacitive reactive power")
</p>
<p>
  <strong>@Translate("MJT")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("grid fee during the period of a uniform daily tariff")
</p>
<p>
  <strong>@Translate("MNT")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("grid fee during the period of a lower daily tariff")
</p>
<p>
  <strong>@Translate("MU")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("measurement service fee")
</p>
<p>
  <strong>@Translate("MVT")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("grid fee during the period of a higher daily tariff")
</p>
<p>
  <strong>@Translate("O")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("read ")
</p>
<p>
  <strong>@Translate("OIEiK")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("fee for renewable energy sources and high-efficiency cogeneration")
</p>
<p>
  <strong>@Translate("OMM")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("billing metering point")
</p>
<p>
  <strong>@Translate("P")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("estimate")
</p>
<p>
  <strong>@Translate("RJT")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("working energy during the period of a uniform daily tariff")
</p>
<p>
  <strong>@Translate("RNT")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("working energy during the period of a lower daily tariff")
</p>
<p>
  <strong>@Translate("RVT")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("working energy during the period of a higher daily tariff")
</p>
<p>
  <strong>@Translate("SVT")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("engaged power during the period of a higher daily tariff")
</p>
<p>
  <strong>@Translate("TRNP")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("excise duty for non-business consumption")
</p>
<p>
  <strong>@Translate("TRP")</strong>
  &nbsp;&dash;&nbsp;
  @Translate("excise duty for business consumption")
</p>
