@namespace Ozds.Client.Components.Providers
@using MudBlazor
@using Ozds.Client.Components.Models
@inherits Ozds.Client.Components.Base.OzdsComponentBase

@if (_state is { } state)
{
  <CascadingValue Value="_state">
    @ChildContent
  </CascadingValue>
  return;
}

<MudContainer MaxWidth="@MaxWidth.Small">
  <MudText Class="mt-12" Typo="@Typo.h5">
    @Translate("Please select a location")
  </MudText>

  <div class="d-flex flex-column my-auto">
    <MudTextField
      Placeholder="@Translate("Type here to search...")"
      Adornment="Adornment.Start"
      AdornmentIcon="@Icons.Material.Filled.Search"
      @bind-Value="_filter"/>

    <div>
      @foreach (var location in _representativeLocations)
      {
        @if (
          !string.IsNullOrWhiteSpace(_filter) &&
          !location.Title.StartsWith(_filter))
        {
          continue;
        }

        <div>
          <MudButton OnClick="@(() => OnLocationSelected(location))">
            <Summary Model="location"/>
          </MudButton>
        </div>
      }
    </div>
  </div>
</MudContainer>
