@inject IDialogService DialogService
@inherits OzdsOwningComponentBase

@if (LoadingState.Value is null)
{
  <MudProgressCircular/>
  return;
}

@if (LoadingState.Value is null)
{
  return;
}

<MudText Class="my-2" Typo="Typo.h4">@T["Abb B2x Validation"]</MudText>
<EditForm
  Model="@LoadingState.Value"
  OnValidSubmit="Submit">
  <DataAnnotationsValidator/>
  <MudCard>
    <MudCardContent>
      <MudTextField
        Label="@T["Name"]"
        @bind-Value="LoadingState.Value.Title"
        For="@(() => LoadingState.Value.Title)"/>
      <MudTextField
        Label="@T["Min voltage"]"
        @bind-Value="LoadingState.Value.MinVoltage_V"
        For="@(() => LoadingState.Value.MinVoltage_V)"/>
      <MudTextField
        Label="@T["Max voltage"]"
        @bind-Value="LoadingState.Value.MaxVoltage_V"
        For="@(() => LoadingState.Value.MaxVoltage_V)"/>
      <MudTextField
        Label="@T["Min current"]"
        @bind-Value="LoadingState.Value.MinCurrent_A"
        For="@(() => LoadingState.Value.MinCurrent_A)"/>
      <MudTextField
        Label="@T["Max current"]"
        @bind-Value="LoadingState.Value.MaxCurrent_A"
        For="@(() => LoadingState.Value.MaxCurrent_A)"/>
      <MudTextField
        Label="@T["Min active power"]"
        @bind-Value="LoadingState.Value.MinActivePower_W"
        For="@(() => LoadingState.Value.MinActivePower_W)"/>
      <MudTextField
        Label="@T["Max active power"]"
        @bind-Value="LoadingState.Value.MaxActivePower_W"
        For="@(() => LoadingState.Value.MaxActivePower_W)"/>
      <MudTextField
        Label="@T["Min reactive power"]"
        @bind-Value="LoadingState.Value.MinReactivePower_VAR"
        For="@(() => LoadingState.Value.MinReactivePower_VAR)"/>
      <MudTextField
        Label="@T["Max reactive power"]"
        @bind-Value="LoadingState.Value.MaxReactivePower_VAR"
        For="@(() => LoadingState.Value.MaxReactivePower_VAR)"/>
    </MudCardContent>
    <ValidationSummary/>
    <MudCardActions>
      <MudButton
        ButtonType="ButtonType.Submit"
        Variant="Variant.Filled"
        Color="MudColor.Primary"
        Class="ml-auto">
        @if (_create)
        {
          <span>Create</span>
        }
        else
        {
          <span>Update</span>
        }
      </MudButton>
    </MudCardActions>
  </MudCard>
</EditForm>

@code {

  [Parameter]
  public string Id { get; set; } = default!;

  [Parameter]
  public AbbB2xMeasurementValidatorModel? Model { get; set; }

  private LoadingState<AbbB2xMeasurementValidatorModel> LoadingState { get; set; } = new();

  private bool _create;

  private async Task Submit()
  {
    var mutations = ScopedServices.GetRequiredService<OzdsAuditableMutations>();
    if (LoadingState.Value is null)
      return;

    if (_create)
    {
      await mutations.Create(LoadingState.Value);
    }
    else
    {
      await mutations.Update(LoadingState.Value);
    }

    DialogService.Show<MutateSuccess>("Changes Saved", new DialogOptions { CloseOnEscapeKey = true });
  }

  protected override void OnInitialized()
  {
    if (LoadingState.Value is not null)
    {
      LoadingState = LoadingState.WithValue(LoadingState.Value);
    }
  }

  protected override async Task OnInitializedAsync()
  {
    if (LoadingState.Value is null && Id is not null)
    {
      LoadingState = LoadingState.WithValue(
        await ScopedServices
          .GetRequiredService<OzdsAbbB2xMeasurementValidatorModelQueries>()
          .AbbB2xMeasurementValidatorById(Id));
    }

    if (LoadingState.Value is null)
    {
      LoadingState = LoadingState.WithValue(AbbB2xMeasurementValidatorModelActivator.New());
      _create = true;
    }
  }

}
