@inject IDialogService DialogService
@inherits OzdsOwningComponentBase

@if (LoadingState.Value is null)
{
  <MudProgressCircular/>
  return;
}
<MudText Class="my-2" Typo="Typo.h4">@T["Abb B2x Device"]</MudText>
<EditForm
  Model="@LoadingState.Value"
  OnValidSubmit="Submit">
  <DataAnnotationsValidator/>
  <MudCard>
    <MudCardContent>
      <MudTextField
        Label="Id"
        @bind-Value="LoadingState.Value.Id"
        For="@(() => LoadingState.Value.Id)"/>
      <MudTextField
        Label="@T["Name"]"
        @bind-Value="LoadingState.Value.Title"
        For="@(() => LoadingState.Value.Title)"/>
      <MudTextField
        Label="@T["Connected power"]"
        @bind-Value="LoadingState.Value.ConnectionPower_W"
        For="@(() => LoadingState.Value.ConnectionPower_W)"/>
      <MudSelect
        Label="@T["Messenger"]"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.MessengerId"
        For="@(() => LoadingState.Value.MessengerId)">
        @foreach (var messenger in _messengers)
        {
          <MudSelectItem Value="messenger.Id">
            @messenger.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudSelect
        Label="@T["Validator"]"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.MeasurementValidatorId"
        For="@(() => LoadingState.Value.MeasurementValidatorId)">
        @foreach (var validator in _validators)
        {
          <MudSelectItem Value="validator.Id">
            @validator.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudSelect
        T="PhaseModel"
        Label="@T["Phase"]"
        AnchorOrigin="Origin.BottomCenter"
        SelectedValuesChanged="@(e => LoadingState.Value.Phases = e.ToHashSet())"
        MultiSelection="true">
        <MudSelectItem Value="PhaseModel.L1">
          L1
        </MudSelectItem>
        <MudSelectItem Value="PhaseModel.L2">
          L2
        </MudSelectItem>
        <MudSelectItem Value="PhaseModel.L3">
          L3
        </MudSelectItem>
      </MudSelect>
    </MudCardContent>
    <ValidationSummary/>
    <MudCardActions>
      <MudButton
        ButtonType="ButtonType.Submit"
        Variant="Variant.Filled"
        Color="MudColor.Primary"
        Class="ml-auto">
        @if (_create)
        {
          <span>Create</span>
        }
        else
        {
          <span>Update</span>
        }
      </MudButton>
    </MudCardActions>
  </MudCard>
</EditForm>

@code {

  [Parameter]
  public string Id { get; set; } = default!;

  [Parameter]
  public AbbB2xMeterModel? Model { get; set; }

  private LoadingState<AbbB2xMeterModel> LoadingState { get; set; } = new();
  private List<MessengerModel> _messengers = new();
  private List<AbbB2xMeasurementValidatorModel> _validators = new();

  private bool _create;

  private async Task Submit()
  {
    var mutations = ScopedServices.GetRequiredService<OzdsAuditableMutations>();
    if (LoadingState.Value is null)
      return;

    if (_create)
    {
      await mutations.Create(LoadingState.Value);
    }
    else
    {
      await mutations.Update(LoadingState.Value);
    }
    DialogService.Show<MutateSuccess>("Changes Saved", new DialogOptions { CloseOnEscapeKey = true });
  }

  protected override void OnInitialized()
  {
    if (LoadingState.Value is not null)
    {
      LoadingState = LoadingState.WithValue(LoadingState.Value);
    }
  }

  protected override async Task OnInitializedAsync()
  {
    var queries = ScopedServices.GetRequiredService<OzdsAbbB2xMeterModelQueries>();
    _messengers = (await queries.GetMessengers("")).Items;
    _validators = (await queries.GetValidators("")).Items;

    if (LoadingState.Value is null && Id is not null)
    {
      LoadingState = LoadingState.WithValue(await queries.AbbB2xMeterById(Id));
    }

    if (LoadingState.Value is null)
    {
      LoadingState = LoadingState.WithValue(AbbB2xMeterModelActivator.New());
      _create = true;
    }
  }

}
