@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inherits OzdsOwningComponentBase

@if (LoadingState.Value is null)
{
  <MudProgressCircular/>
  return;
}

@if (LoadingState.Value is null)
{
  return;
}

<MudText Class="my-2" Typo="Typo.h4">Plavi Niski Katalog</MudText>
<EditForm
  Model="@LoadingState.Value"
  OnValidSubmit="Submit">
  <DataAnnotationsValidator/>
  <MudCard>
    <MudCardContent>
      <MudTextField
        Label="Naziv"
        @bind-Value="LoadingState.Value.Title"
        For="@(() => LoadingState.Value.Title)"/>
      <MudTextField
        T="decimal"
        Label="Cijena potrošnje aktivne energije u dnevnoj tarifi (EUR/kWh)"
        Value="LoadingState.Value.ActiveEnergyTotalImportT0Price_EUR * 1000"
        ValueChanged="@(e => LoadingState.Value.ActiveEnergyTotalImportT0Price_EUR = e / 1000)"
        For="@(() => LoadingState.Value.ActiveEnergyTotalImportT0Price_EUR)"/>
      <MudTextField
        T="decimal"
        Label="Cijena potrošnje reaktivne energije u jednoj tarifi (EUR/kVARh)"
        Value="LoadingState.Value.ReactiveEnergyTotalRampedT0Price_EUR * 1000"
        ValueChanged="@(e => LoadingState.Value.ReactiveEnergyTotalRampedT0Price_EUR = e / 1000)"
        For="@(() => LoadingState.Value.ReactiveEnergyTotalRampedT0Price_EUR)"/>
      <MudTextField
        Label="Cijena naknade za brojilo (EUR)"
        @bind-Value="LoadingState.Value.MeterFeePrice_EUR"
        For="@(() => LoadingState.Value.MeterFeePrice_EUR)"/>
    </MudCardContent>
    <ValidationSummary/>
    <MudCardActions>
      <MudButton
        ButtonType="ButtonType.Submit"
        Variant="Variant.Filled"
        Color="MudColor.Primary"
        Class="ml-auto">
        @if (_create)
        {
          <span>Create</span>
        }
        else
        {
          <span>Update</span>
        }
      </MudButton>
    </MudCardActions>
  </MudCard>
</EditForm>

@code {
  [Parameter] public string Id { get; set; } = default!;

  [Parameter] public BlueLowNetworkUserCatalogueModel? Model { get; set; }

  private LoadingState<BlueLowNetworkUserCatalogueModel> LoadingState { get; set; } = new();

  private bool _create;

  private async Task Submit()
  {
    var mutations = ScopedServices.GetRequiredService<OzdsAuditableMutations>();
    if (LoadingState.Value is null)
      return;
    if (_create)
    {
      mutations.Create(LoadingState.Value);
    }
    else
    {
      mutations.Update(LoadingState.Value);
    }
    await mutations.SaveChangesAsync();
    DialogService.Show<MutateSuccess>("Changes Saved", new DialogOptions(){CloseOnEscapeKey = true});
  }

  protected override void OnInitialized()
  {
    if (LoadingState.Value is not null)
    {
      LoadingState = LoadingState.WithValue(LoadingState.Value);
    }
  }

  protected override async Task OnInitializedAsync()
  {
    if (LoadingState.Value is null && Id is not null)
    {
      LoadingState = LoadingState.WithValue(
        await ScopedServices
          .GetRequiredService<OzdsBlueLowNetworkUserCatalogueModelQueries>()
          .BlueLowNetworkUserCatalogueById(Id));
    }

    if (LoadingState.Value is null)
    {
      LoadingState = LoadingState.WithValue(BlueLowNetworkUserCatalogueModel.New());
      _create = true;
    }
  }

}
