@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inherits OzdsOwningComponentBase

@if (LoadingState.Value is null)
{
  <MudProgressCircular/>
  return;
}

<MudText Class="my-2" Typo="Typo.h4">Brojilo na Lokaciji</MudText>
<EditForm
  Model="@LoadingState.Value"
  OnValidSubmit="Submit">
  <DataAnnotationsValidator/>
  <MudCard>
    <MudCardContent>
      <MudTextField
        Label="Ime"
        @bind-Value="LoadingState.Value.Title"
        For="@(() => LoadingState.Value.Title)"/>
      <MudSelect
        Label="Lokacija"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.LocationId"
        For="@(() => LoadingState.Value.LocationId)">
        @foreach (var location in _locations)
        {
          <MudSelectItem Value="location.Id">
            @location.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudSelect
        Label="Brojilo"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.MeterId"
        For="@(() => LoadingState.Value.MeterId)">
        @foreach (var meter in _meters)
        {
          <MudSelectItem Value="meter.Id">
            @meter.Title
          </MudSelectItem>
        }
      </MudSelect>
    </MudCardContent>
    <ValidationSummary/>
    <MudCardActions>
      <MudButton
        ButtonType="ButtonType.Submit"
        Variant="Variant.Filled"
        Color="MudColor.Primary"
        Class="ml-auto">
        @if (_create)
        {
          <span>Create</span>
        }
        else
        {
          <span>Update</span>
        }
      </MudButton>
    </MudCardActions>
  </MudCard>
</EditForm>

@code {
  [Parameter] public string Id { get; set; } = default!;

  [Parameter] public LocationMeasurementLocationModel? Model { get; set; }

  private LoadingState<LocationMeasurementLocationModel> LoadingState { get; set; } = new();
  private List<LocationModel> _locations = new();
  private List<IMeter> _meters = new();

  private bool _create;

  private async Task Submit()
  {
    var mutations = ScopedServices.GetRequiredService<OzdsAuditableMutations>();
    if (LoadingState.Value is null)
      return;
    if (_create)
    {
      mutations.Create(LoadingState.Value);
    }
    else
    {
      mutations.Update(LoadingState.Value);
    }

    await mutations.SaveChangesAsync();
    DialogService.Show<MutateSuccess>("Changes Saved", new DialogOptions { CloseOnEscapeKey = true });
  }

  protected override void OnInitialized()
  {
    if (LoadingState.Value is not null)
    {
      LoadingState = LoadingState.WithValue(LoadingState.Value);
    }
  }

  protected override async Task OnInitializedAsync()
  {
    var queries = ScopedServices.GetRequiredService<OzdsLocationMeasurementLocationModelQueries>();
    _locations = (await queries.GetLocations("")).Items;
    _meters = (await queries.GetMeters("")).Items;

    if (LoadingState.Value is null && Id is not null)
    {
      LoadingState = LoadingState.WithValue(await queries.LocationMeasurementLocationById(Id));
    }

    if (LoadingState.Value is null)
    {
      LoadingState = LoadingState.WithValue(LocationMeasurementLocationModel.New());
      _create = true;
    }
  }

}
