@inject NavigationManager NavigationManager
@inherits OzdsOwningComponentBase

@if (LoadingState.Value is null)
{
  <MudProgressCircular/>
  return;
}

<MudText Typo="Typo.h5">Lokacija</MudText>
<MudPaper>
  <MudGrid>
    <MudItem xs="12" sm="6">
      <MudText Typo="Typo.body1">Id</MudText>
      <MudText Typo="Typo.body2">@LoadingState.Value.Id</MudText>
    </MudItem>
  </MudGrid>
</MudPaper>

<EditForm
  Model="@LoadingState.Value"
  OnValidSubmit="Submit">
  <DataAnnotationsValidator/>
  <MudCard>
    <MudCardContent>
      <MudTextField
        Label="Naziv"
        @bind-Value="LoadingState.Value.Title"
        For="@(() => LoadingState.Value.Title)"/>
      <MudTextField
        Label="Ime"
        @bind-Value="LoadingState.Value.LegalPerson.Name"
        For="@(() => LoadingState.Value.LegalPerson.Name)"/>
      <MudTextField
        Label="OIB"
        @bind-Value="LoadingState.Value.LegalPerson.SocialSecurityNumber"
        For="@(() => LoadingState.Value.LegalPerson.SocialSecurityNumber)"/>
      <MudTextField
        Label="Adresa"
        @bind-Value="LoadingState.Value.LegalPerson.Address"
        For="@(() => LoadingState.Value.LegalPerson.Address)"/>
      <MudTextField
        Label="Poštanski broj"
        @bind-Value="LoadingState.Value.LegalPerson.PostalCode"
        For="@(() => LoadingState.Value.LegalPerson.PostalCode)"/>
      <MudTextField
        Label="Grad"
        @bind-Value="LoadingState.Value.LegalPerson.City"
        For="@(() => LoadingState.Value.LegalPerson.City)"/>
      <MudTextField
        Label="Email adresa"
        @bind-Value="LoadingState.Value.LegalPerson.Email"
        For="@(() => LoadingState.Value.LegalPerson.Email)"/>
      <MudTextField
        Label="Broj telefona"
        @bind-Value="LoadingState.Value.LegalPerson.PhoneNumber"
        For="@(() => LoadingState.Value.LegalPerson.PhoneNumber)"/>
      <MudSelect
        Label="_whiteMediumNetworkUserCatalogues"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.WhiteMediumNetworkUserCatalogueId"
        For="@(() => LoadingState.Value.WhiteMediumNetworkUserCatalogueId)">
        @foreach (var catalog in _whiteMediumNetworkUserCatalogues)
        {
          <MudSelectItem Value="catalog.Id">
            @catalog.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudSelect
        Label="_blueLowNetworkUserCatalogues"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.BlueLowNetworkUserCatalogueId"
        For="@(() => LoadingState.Value.BlueLowNetworkUserCatalogueId)">
        @foreach (var catalog in _blueLowNetworkUserCatalogues)
        {
          <MudSelectItem Value="catalog.Id">
            @catalog.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudSelect
        Label="_whiteLowNetworkUserCatalogues"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.WhiteLowNetworkUserCatalogueId"
        For="@(() => LoadingState.Value.WhiteLowNetworkUserCatalogueId)">
        @foreach (var catalog in _whiteLowNetworkUserCatalogues)
        {
          <MudSelectItem Value="catalog.Id">
            @catalog.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudSelect
        Label="_redLowNetworkUserCatalogues"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.RedLowNetworkUserCatalogueId"
        For="@(() => LoadingState.Value.RedLowNetworkUserCatalogueId)">
        @foreach (var catalog in _redLowNetworkUserCatalogues)
        {
          <MudSelectItem Value="catalog.Id">
            @catalog.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudSelect
        Label="_regulatoryNetworkUserCatalogues"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.RegulatoryCatalogueId"
        For="@(() => LoadingState.Value.RegulatoryCatalogueId)">
        @foreach (var catalog in _regulatoryNetworkUserCatalogues)
        {
          <MudSelectItem Value="catalog.Id">
            @catalog.Title
          </MudSelectItem>
        }
      </MudSelect>
      @* <MudSelect
        T="RepresentativeModel"
        Label="Korisnici"
        AnchorOrigin="Origin.BottomCenter"
        ToStringFunc="(a) => a?.Name"
        MultiSelection="true"
        @bind-SelectedValues="_selectedRepsList">
        @foreach (var rep in _representatives)
        {
          <MudSelectItem Value="@rep">
            @rep.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudItem Class="py-5">
          <MudText Typo="Typo.subtitle2">Odabrani korisnici</MudText>
          <MudText Typo="Typo.body2" Class="pl-4">@(string.Join(", ", _selectedRepsList.Select(x=>$"\"{x.Name}\"")))</MudText>
      </MudItem> *@
    </MudCardContent>
    <ValidationSummary/>
    <MudCardActions>
      <MudButton
        ButtonType="ButtonType.Submit"
        Variant="Variant.Filled"
        Color="MudColor.Primary"
        Class="ml-auto">
        @if (_create)
        {
          <span>Create</span>
        }
        else
        {
          <span>Update</span>
        }
      </MudButton>
    </MudCardActions>
  </MudCard>
</EditForm>

@code {
  [Parameter] public string Id { get; set; } = default!;

  [Parameter] public LocationModel? Model { get; set; }

  private LoadingState<LocationModel> LoadingState { get; set; } = new();
  private List<WhiteMediumNetworkUserCatalogueModel> _whiteMediumNetworkUserCatalogues;
  private List<BlueLowNetworkUserCatalogueModel> _blueLowNetworkUserCatalogues;
  private List<WhiteLowNetworkUserCatalogueModel> _whiteLowNetworkUserCatalogues;
  private List<RedLowNetworkUserCatalogueModel> _redLowNetworkUserCatalogues;
  private List<RegulatoryCatalogueModel> _regulatoryNetworkUserCatalogues;
  @* private List<RepresentativeModel> _representatives;
  private IEnumerable<RepresentativeModel> _selectedRepsList { get; set; } = new HashSet<RepresentativeModel>() { }; *@

  private bool _create;

  private void Submit()
  {
    var mutations = ScopedServices.GetRequiredService<OzdsAuditableMutations>();
    if (LoadingState.Value is null)
      return;
    if (_create)
    {
      mutations.Create(LoadingState.Value);
    }
    else
    {
      mutations.Update(LoadingState.Value);
    }
  }

  protected override void OnInitialized()
  {
    if (LoadingState.Value is not null)
    {
      LoadingState = LoadingState.WithValue(LoadingState.Value);
    }
  }

  protected override async Task OnInitializedAsync()
  {
    var queries = ScopedServices.GetRequiredService<OzdsLocationModelQueries>();
    _whiteMediumNetworkUserCatalogues = (await queries.GetWhiteMediumNetworkUserCatalogues("")).Items;
    _blueLowNetworkUserCatalogues = (await queries.GetBlueLowNetworkUserCatalogues("")).Items;
    _whiteLowNetworkUserCatalogues = (await queries.GetWhiteLowNetworkUserCatalogues("")).Items;
    _redLowNetworkUserCatalogues = (await queries.GetRedLowNetworkUserCatalogues("")).Items;
    _regulatoryNetworkUserCatalogues = (await queries.GetRegulatoryCatalogues("")).Items;
    @* _representatives = (await queries.GetEligibleRepresentatives("")).Items; *@

    @* if (LoadingState.Value is null && Id is not null)
    {
      var result = await queries.LocationWithRepresentativesById(Id);
      if (result != null)
      {
          var (location, representatives) = result;
          _selectedRepsList = representatives;
          _representatives = _representatives.Select(x => representatives.FirstOrDefault(y => x.Id == y.Id) is { } y ? y : x).ToList();
          LoadingState = LoadingState.WithValue(location);
      }
    } *@

    if (LoadingState.Value is null)
    {
      LoadingState = LoadingState.WithValue(LocationModel.New());
      _create = true;
    }
  }

}
