@inject IDialogService DialogService
@inherits OzdsOwningComponentBase

@if (LoadingState.Value is null)
{
  <MudProgressCircular/>
  return;
}


@if (LoadingState.Value is null)
{
  return;
}

<MudText Class="my-2" Typo="Typo.h4">@T["Network user"]</MudText>
<EditForm
  Model="@LoadingState.Value"
  OnValidSubmit="Submit">
  <DataAnnotationsValidator/>
  <MudCard>
    <MudCardContent>
      <MudTextField
        Label="@T["Name"]"
        @bind-Value="LoadingState.Value.Title"
        For="@(() => LoadingState.Value.Title)"/>
      <MudTextField
        Label="@T["Person name"]"
        @bind-Value="LoadingState.Value.LegalPerson.Name"
        For="@(() => LoadingState.Value.LegalPerson.Name)"/>
      <MudTextField
        Label="@T["OIB"]"
        @bind-Value="LoadingState.Value.LegalPerson.SocialSecurityNumber"
        For="@(() => LoadingState.Value.LegalPerson.SocialSecurityNumber)"/>
      <MudTextField
        Label="@T["Address"]"
        @bind-Value="LoadingState.Value.LegalPerson.Address"
        For="@(() => LoadingState.Value.LegalPerson.Address)"/>
      <MudTextField
        Label="@T["Postal code"]"
        @bind-Value="LoadingState.Value.LegalPerson.PostalCode"
        For="@(() => LoadingState.Value.LegalPerson.PostalCode)"/>
      <MudTextField
        Label="@T["City"]"
        @bind-Value="LoadingState.Value.LegalPerson.City"
        For="@(() => LoadingState.Value.LegalPerson.City)"/>
      <MudTextField
        Label="@T["Email address"]"
        @bind-Value="LoadingState.Value.LegalPerson.Email"
        For="@(() => LoadingState.Value.LegalPerson.Email)"/>
      <MudTextField
        Label="@T["Phone number"]"
        @bind-Value="LoadingState.Value.LegalPerson.PhoneNumber"
        For="@(() => LoadingState.Value.LegalPerson.PhoneNumber)"/>
      <MudSelect
        Label="@T["Location"]"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.LocationId"
        For="@(() => LoadingState.Value.LocationId)">
        @foreach (var location in _locations)
        {
          <MudSelectItem Value="location.Id">
            @location.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudSelect
        T="RepresentativeModel"
        Label="@T["Representatives"]"
        AnchorOrigin="Origin.BottomCenter"
        ToStringFunc="a => a?.PhysicalPerson.Name"
        MultiSelection="true"
        @bind-SelectedValues="_selectedRepsList">
        @foreach (var rep in _representatives)
        {
          <MudSelectItem Value="@rep">
            @rep.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudItem Class="py-5">
        <MudText Typo="Typo.subtitle2">@T["Allocated Representatives"]</MudText>
        <MudText Typo="Typo.body2" Class="pl-4">@(string.Join(", ", _selectedRepsList.Select(x => $"\"{x.PhysicalPerson.Name}\"")))</MudText>
      </MudItem>
    </MudCardContent>
    <ValidationSummary/>
    <MudCardActions>
      <MudButton
        ButtonType="ButtonType.Submit"
        Variant="Variant.Filled"
        Color="MudColor.Primary"
        Class="ml-auto">
        @if (_create)
        {
          <span>@T["Create"]</span>
        }
        else
        {
          <span>@T["Update"]</span>
        }
      </MudButton>
    </MudCardActions>
  </MudCard>
</EditForm>

@code {

  [Parameter]
  public string Id { get; set; } = default!;

  [Parameter]
  public NetworkUserModel? Model { get; set; }

  private List<LocationModel> _locations = new();
  private List<RepresentativeModel> _representatives = new();
  private IEnumerable<RepresentativeModel> _selectedRepsList { get; set; } = new HashSet<RepresentativeModel>();
  private LoadingState<NetworkUserModel> LoadingState { get; set; } = new();

  private bool _create;

  private async Task Submit()
  {
    var mutations = ScopedServices.GetRequiredService<OzdsNetworkUserMutations>();
    if (LoadingState.Value is null)
      return;
    if (_create)
    {
      mutations.CreateWithRepresentatives(LoadingState.Value, _selectedRepsList);
    }
    else
    {
      mutations.UpdateWithRepresentatives(LoadingState.Value, _selectedRepsList);
    }

    await mutations.SaveChangesAsync();
    DialogService.Show<MutateSuccess>("Changes Saved", new DialogOptions { CloseOnEscapeKey = true });
  }

  protected override void OnInitialized()
  {
    if (LoadingState.Value is not null)
    {
      LoadingState = LoadingState.WithValue(LoadingState.Value);
    }
  }

  protected override async Task OnInitializedAsync()
  {
    var queries = ScopedServices.GetRequiredService<OzdsNetworkUserQueries>();
    _locations = (await queries.GetLocations("")).Items;
    _representatives = (await queries.GetEligibleRepresentatives("")).Items;

    if (LoadingState.Value is null && Id is not null)
    {
      var result = await queries.NetworkUserWithRepresentativesById(Id);
      if (result != null)
      {
        var (networkUser, representatives) = result;
        _selectedRepsList = representatives;
        _representatives = _representatives.Select(x => representatives.FirstOrDefault(y => x.Id == y.Id) is { } y ? y : x).ToList();
        LoadingState = LoadingState.WithValue(networkUser);
      }
    }

    if (LoadingState.Value is null)
    {
      LoadingState = LoadingState.WithValue(NetworkUserModel.New());
      _create = true;
    }
  }

}
