@inject NavigationManager NavigationManager
@inherits OzdsOwningComponentBase

@if (LoadingState.Value is null)
{
  <MudProgressCircular/>
  return;
}

<MudText Class="my-2" Typo="Typo.h4">Brojilo na Korisniku mreže</MudText>
<EditForm
  Model="@LoadingState.Value"
  OnValidSubmit="Submit">
  <DataAnnotationsValidator/>
  <MudCard>
    <MudCardContent>
      <MudTextField
        Label="Ime"
        @bind-Value="LoadingState.Value.Title"
        For="@(() => LoadingState.Value.Title)"/>
      <MudSelect
        Label="Korisnici mreže"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.NetworkUserId"
        For="@(() => LoadingState.Value.NetworkUserId)">
        @foreach (var location in _netUsers)
        {
          <MudSelectItem Value="location.Id">
            @location.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudSelect
        Label="Brojilo"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.MeterId"
        For="@(() => LoadingState.Value.MeterId)">
        @foreach (var meter in _meters)
        {
          <MudSelectItem Value="meter.Id">
            @meter.Title
          </MudSelectItem>
        }
      </MudSelect>
      <MudSelect
        Label="Katalog"
        AnchorOrigin="Origin.BottomCenter"
        @bind-Value="LoadingState.Value.NetworkUserCatalogueId"
        For="@(() => LoadingState.Value.NetworkUserCatalogueId)">
        @foreach (var catalogue in _catalogue)
        {
          <MudSelectItem Value="catalogue.Id">
            @catalogue.Title
          </MudSelectItem>
        }
      </MudSelect>
    </MudCardContent>
    <ValidationSummary/>
    <MudCardActions>
      <MudButton
        ButtonType="ButtonType.Submit"
        Variant="Variant.Filled"
        Color="MudColor.Primary"
        Class="ml-auto">
        @if (_create)
        {
          <span>Create</span>
        }
        else
        {
          <span>Update</span>
        }
      </MudButton>
    </MudCardActions>
  </MudCard>
</EditForm>

@code {
  [Parameter] public string Id { get; set; } = default!;

  [Parameter] public NetworkUserMeasurementLocationModel? Model { get; set; }

  private LoadingState<NetworkUserMeasurementLocationModel> LoadingState { get; set; } = new();
  private List<NetworkUserModel> _netUsers;
  private List<NetworkUserCatalogueModel> _catalogue;
  private List<IMeter> _meters;

  private bool _create;

  private void Submit()
  {
    var mutations = ScopedServices.GetRequiredService<OzdsAuditableMutations>();
    if (LoadingState.Value is null)
      return;
    if (_create)
    {
      mutations.Create(LoadingState.Value);
    }
    else
    {
      mutations.Update(LoadingState.Value);
    }
  }

  protected override void OnInitialized()
  {
    if (LoadingState.Value is not null)
    {
      LoadingState = LoadingState.WithValue(LoadingState.Value);
    }
  }

  protected override async Task OnInitializedAsync()
  {
    var queries = ScopedServices.GetRequiredService<OzdsNetworkUserMeasurementLocationModelQueries>();
    _netUsers = (await queries.GetNetworkUsers("")).Items;
    _meters = (await queries.GetMeters("")).Items;
    _catalogue = (await queries.GetCatalogues("")).Items;

    if (LoadingState.Value is null && Id is not null)
    {
      LoadingState = LoadingState.WithValue(await queries.NetworkUserMeasurementLocationById(Id));
    }

    if (LoadingState.Value is null)
    {
      LoadingState = LoadingState.WithValue(NetworkUserMeasurementLocationModel.New());
      _create = true;
    }
  }

}
