@inject IDialogService DialogService
@inherits OzdsOwningComponentBase

@if (LoadingState.Value is null)
{
  <MudProgressCircular/>
  return;
}

@if (LoadingState.Value is null)
{
  return;
}

<MudText Class="my-2" Typo="Typo.h4">@T["White Medium Catalogue"]</MudText>
<EditForm
  Model="@LoadingState.Value"
  OnValidSubmit="Submit">
  <DataAnnotationsValidator/>
  <MudCard>
    <MudCardContent>
      <MudTextField
        Label="@T["Name"]"
        @bind-Value="LoadingState.Value.Title"
        For="@(() => LoadingState.Value.Title)"/>
      <MudTextField
        T="decimal"
        Label="@T["Price of higher tariff active energy consumption (EUR/kWh)"]"
        @bind-Value="LoadingState.Value.ActiveEnergyTotalImportT1Price_EUR"
        For="@(() => LoadingState.Value.ActiveEnergyTotalImportT1Price_EUR)"/>
      <MudTextField
        T="decimal"
        Label="@T["Price of active energy consumption in low tariff (EUR/kWh)"]"
        @bind-Value="LoadingState.Value.ActiveEnergyTotalImportT2Price_EUR"
        For="@(() => LoadingState.Value.ActiveEnergyTotalImportT2Price_EUR)"/>
      <MudTextField
        T="decimal"
        Label="@T["Price of Active Power in Higher Tariff (EUR/kW)"]"
        @bind-Value="LoadingState.Value.ActivePowerTotalImportT1Price_EUR"
        For="@(() => LoadingState.Value.ActivePowerTotalImportT1Price_EUR)"/>
      <MudTextField
        T="decimal"
        Label="@T["Price of reactive energy consumption in a single tariff (EUR/kVARh)"]"
        @bind-Value="LoadingState.Value.ReactiveEnergyTotalRampedT0Price_EUR"
        For="@(() => LoadingState.Value.ReactiveEnergyTotalRampedT0Price_EUR)"/>
      <MudTextField
        Label="@T["Price of metering fee (EUR)"]"
        @bind-Value="LoadingState.Value.MeterFeePrice_EUR"
        For="@(() => LoadingState.Value.MeterFeePrice_EUR)"/>
    </MudCardContent>
    <ValidationSummary/>
    <MudCardActions>
      <MudButton
        ButtonType="ButtonType.Submit"
        Variant="Variant.Filled"
        Color="MudColor.Primary"
        Class="ml-auto">
        @if (_create)
        {
          <span>@T["Create"]</span>
        }
        else
        {
          <span>@T["Update"]</span>
        }
      </MudButton>
    </MudCardActions>
  </MudCard>
</EditForm>

@code {

  [Parameter]
  public string Id { get; set; } = default!;

  [Parameter]
  public WhiteMediumNetworkUserCatalogueModel? Model { get; set; }

  private LoadingState<WhiteMediumNetworkUserCatalogueModel> LoadingState { get; set; } = new();

  private bool _create;

  private async Task Submit()
  {
    var mutations = ScopedServices.GetRequiredService<OzdsAuditableMutations>();
    if (LoadingState.Value is null)
      return;

    if (_create)
    {
      await mutations.Create(LoadingState.Value);
    }
    else
    {
      await mutations.Update(LoadingState.Value);
    }

    DialogService.Show<MutateSuccess>("Changes Saved", new DialogOptions { CloseOnEscapeKey = true });
  }

  protected override void OnInitialized()
  {
    if (LoadingState.Value is not null)
    {
      LoadingState = LoadingState.WithValue(LoadingState.Value);
    }
  }

  protected override async Task OnInitializedAsync()
  {
    if (LoadingState.Value is null && Id is not null && long.TryParse(Id, out _))
    {
      LoadingState = LoadingState.WithValue(
        await ScopedServices
          .GetRequiredService<OzdsWhiteMediumNetworkUserCatalogueModelQueries>()
          .BlueLowNetworkUserCatalogueById(Id));
    }

    if (LoadingState.Value is null)
    {
      LoadingState = LoadingState.WithValue(WhiteMediumNetworkUserCatalogueModelActivator.New());
      _create = true;
    }
  }

}
