@using MudBlazor
@namespace Ozds.Client.Pages

@page "/measurements/measurement-locations"

@attribute [Navigation(
Order = 0,
Title = "Measurement locations",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(MeasurementsPage),
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]
@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Analysis
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Tables
@using Ozds.Client.State
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Measurement locations")</title>
</HeadContent>

@{
  var analyses = AnalysisState.AnalysisBases.Value
    .AnalysesByMeasurementLocation();
}

<ResponsiveTable Model="@analyses">
  <Summary>
    <Summary Model="@context"/>
  </Summary>
  <Details>
    <Details Model="@context"/>
  </Details>
  <Columns>
    <Columns Models="@analyses"/>
  </Columns>
</ResponsiveTable>

<MudLink Href="@(PageHref<MeasurementLocationPage>())">
  @Translate("Create")
</MudLink>

@code {

  [CascadingParameter]
  public AnalysisState AnalysisState { get; set; } = default!;

}
