@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Analysis
@using Ozds.Business.Models.Abstractions
@using Ozds.Business.Time
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Charts
@using Ozds.Client.Components.Tables
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models
@using Ozds.Client.State

@namespace Ozds.Client.Pages

@page "/measurements/measurement-location/{id?}"

@inherits OzdsComponentBase

@{
  var analysis = AnalysisState.AnalysisBases.Value
    .AnalysesByMeasurementLocation()
    .FirstOrDefault(x => x.Meter.Id == Id);
}

@if (analysis is { })
{
  <ResponsiveTable Model="@analysis.Analysis.Monthly">
    <Summary>
      <MonthlyAnalysisSummary Model="@context" />
    </Summary>
    <Details>
      <MonthlyAnalysisDetails Model="@context" />
    </Details>
    <Columns>
      <MonthlyAnalysisColumns />
    </Columns>
  </ResponsiveTable>

  var meters = new List<IMeter>() { analysis.Meter };

  <MeasurementChartControls Meters="@meters">
    <MeasurementGaugeChart
      Parameters="@context" />
    <MeasurementLineChart
      Parameters="@context"
      Brush="@(Breakpoint >= Breakpoint.MdAndUp)" />
  </MeasurementChartControls>
}

<Mutating T="IMeasurementLocation" Id="Id">
  <Edit>
    <HeadContent>
      @if (context.Created)
      {
        <title>OZDS - @Translate("New measurement location")</title>
      }
      else
      {
        <title>
          OZDS - @Translate("Measurement location"): @context.Model.Title
        </title>
      }
    </HeadContent>

    <MeasurementLocationEdit Model="context.Model" />
  </Edit>
  <Details>
    <HeadContent>
      <title>
        OZDS - @Translate("Measurement location"): @context.Model.Title
      </title>
    </HeadContent>

    <MeasurementLocationDetails Model="context.Model" />
  </Details>
</Mutating>

@code {
  [CascadingParameter]
  public AnalysisState AnalysisState { get; set; } = default!;

  [CascadingParameter]
  public Breakpoint Breakpoint { get; set; } = default!;

  [Parameter]
  public string Id { get; set; } = default!;
}
