@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Analysis
@using Ozds.Business.Models.Enums
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Tables
@using Ozds.Client.Components.Models
@using Ozds.Client.State

@namespace Ozds.Client.Pages

@page "/measurements/measurement-locations"

@attribute [Navigation(
  Order = 0,
  Title = "Measurement locations",
  Icon = Icons.Material.Filled.VerifiedUser,
  Parent = typeof(MeasurementsPage),
  Allows = [
    RoleModel.OperatorRepresentative,
    RoleModel.LocationRepresentative,
    RoleModel.NetworkUserRepresentative
  ])]

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Measurement locations")</title>
</HeadContent>

@{
  var analyses = AnalysisState.AnalysisBases.Value
    .AnalysesByMeasurementLocation();
}

<ResponsiveTable
  Model="@analyses"
  Link="@(x => PageHref<MeasurementLocationPage>(new { x.MeasurementLocation.Id }))">
  <Summary>
    <Summary Model="@context" />
  </Summary>
  <Details>
    <Details Model="@context" />
  </Details>
  <Columns>
    <Columns Models="@analyses" />
  </Columns>
</ResponsiveTable>

@code {
  [CascadingParameter]
  public AnalysisState AnalysisState { get; set; } = default!;
}
