@namespace Ozds.Client.Pages

@page "/measurements/measurement-location/{id?}"

@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Analysis
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Components.Charts
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Tables
@using Ozds.Client.State
@inherits Ozds.Client.Components.Models.Base.OzdsIdentifiableModelPageComponentBase<Ozds.Business.Models.Abstractions.IMeasurementLocation>

@{
  var analysis = AnalysisState.AnalysisBases.Value
    .AnalysesByMeasurementLocation()
    .FirstOrDefault(x => x.MeasurementLocation.Id == Id);
}

@if (analysis is not null)
{
  <ResponsiveTable Model="@analysis.Analysis.Monthly">
    <Summary>
      <Summary Model="@context"/>
    </Summary>
    <Details>
      <Details Model="@context"/>
    </Details>
    <Columns>
      <Columns Models="@analysis.Analysis.Monthly"/>
    </Columns>
  </ResponsiveTable>

  var measurementLocations = new List<IMeasurementLocation>
  {
    analysis.MeasurementLocation
  };

  <MeasurementChartControls MeasurementLocations="@measurementLocations">
    <MeasurementGaugeChart
      Parameters="@context"/>
    <MeasurementLineChart
      Parameters="@context"
      Brush="@(Breakpoint >= Breakpoint.MdAndUp)"/>
  </MeasurementChartControls>
}

<Mutating T="IMeasurementLocation" Id="@Id">
  <Edit>
    <HeadContent>
      @if (context.Created)
      {
        <title>OZDS - @Translate("New measurement location")</title>
      }
      else
      {
        <title>
          OZDS - @Translate("Measurement location"): @context.Model.Title
        </title>
      }
    </HeadContent>

    <Edit Model="context.Model"/>
  </Edit>
  <Details>
    <HeadContent>
      <title>
        OZDS - @Translate("Measurement location"): @context.Model.Title
      </title>
    </HeadContent>

    <Details Model="context.Model"/>
  </Details>
</Mutating>

@code {

  [CascadingParameter]
  public AnalysisState AnalysisState { get; set; } = default!;

  [CascadingParameter]
  public Breakpoint Breakpoint { get; set; }

  [Parameter]
  public string Id { get; set; } = default!;

}
