@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models

@namespace Ozds.Client.Pages

@page "/measurements/measurement-validator/{id?}"

@inherits OzdsComponentBase

<Mutating T="IMeasurementValidator" Id="@Id">
  <Edit>
    <HeadContent>
      @if (context.Created)
      {
        <title>OZDS - @Translate("New measurement validator")</title>
      }
      else
      {
        <title>
          OZDS - @Translate("Measurement validator"): @context.Model.Title
        </title>
      }
    </HeadContent>

    <MeasurementValidatorEdit Model="@context.Model" />
  </Edit>
  <Details>
    <HeadContent>
      <title>
        OZDS - @Translate("Measurement validator"): @context.Model.Title
      </title>
    </HeadContent>

    <MeasurementValidatorDetails Model="@context.Model" />
  </Details>
</Mutating>

@code {
  [Parameter]
  public string? Id { get; set; }
}
