@namespace Ozds.Client.Pages

@page "/measurements/measurement-locations"

@attribute [Navigation(
Order = 0,
Title = "Measurement locations",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(MeasurementsPage),
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Models.Abstractions
@using Ozds.Business.Models.Base
@using Ozds.Business.Models
@using Ozds.Business.Analysis
@using Ozds.Client.Records
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Streaming
@using Ozds.Client.State
@using Ozds.Client.Components.Fields
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Measurement locations")</title>
</HeadContent>

@{
  var analyses = AnalysisState.AnalysisBases.Value
    .AnalysesByMeasurementLocation();
}

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <MudCheckBox
    Label="@Translate("Deleted")"
    @bind-Value="_deleted"/>
}

@if (_deleted)
{
  <Paging T="IMeasurementLocation" Deleted="@_deleted"/>
}
else
{
  <Table Model="@analyses"/>
}


@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <MudLink Href="@(PageHref<MeasurementLocationPage>())">
    @Translate("Create")
  </MudLink>
  <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="@Translate("Network User")">
      <UploadField TModel="NetworkUserMeasurementLocationModel" TRecord="NetworkUserMeasurementLocationRecord" />
    </MudTabPanel>
  </MudTabs>
}

@code {

  [CascadingParameter]
  public AnalysisState AnalysisState { get; set; } = default!;

  [CascadingParameter]
  private RepresentativeState RepresentativeState { get; set; } = default!;

  private bool _deleted;
}
