@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models.Abstractions
@using Ozds.Business.Models.Enums
@using Ozds.Client.Components.Models.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models
@using Ozds.Client.State

@namespace Ozds.Client.Pages

@page "/measurements/messenger/{id}"

@inherits OzdsIdentifiableModelPageComponentBase<IMessenger>

@if (RepresentativeState.Representative.Role
  is not RoleModel.OperatorRepresentative)
{
  <NotFound />
  return;
}

<Mutating T="IMessenger" Id="@Id">
  <Edit>
    <HeadContent>
      @if (context.Created)
      {
        <title>OZDS - @Translate("New messenger")</title>
      }
      else
      {
        <title>OZDS - @Translate("Messenger"): @context.Model.Title</title>
      }
    </HeadContent>

    <MessengerEdit Model="@context.Model" />
  </Edit>
  <Details>
    <HeadContent>
      <title>OZDS - @Translate("Messenger"): @context.Model.Title</title>
    </HeadContent>

    <MessengerDetails Model="@context.Model" />
  </Details>
</Mutating>

@code {
  [Parameter]
  public string Id { get; set; } = default!;

  [CascadingParameter]
  private RepresentativeState RepresentativeState { get; set; } = default!;
}
