@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models

@namespace Ozds.Client.Pages

@page "/measurements/messenger/{id}"

@inherits OzdsComponentBase

<Mutating T="IMessenger" Id="@Id">
  <Edit>
    <HeadContent>
      @if (context.Created)
      {
        <title>OZDS - @Translate("New messenger")</title>
      }
      else
      {
        <title>OZDS - @Translate("Messenger"): @context.Model.Title</title>
      }
    </HeadContent>

    <MessengerEdit Model="@context.Model" />
  </Edit>
  <Details>
    <HeadContent>
      <title>OZDS - @Translate("Messenger"): @context.Model.Title</title>
    </HeadContent>

    <MessengerDetails Model="@context.Model" />
  </Details>
</Mutating>

@code {
  [Parameter]
  public string Id { get; set; } = default!;
}
