@namespace Ozds.Client.Pages

@page "/measurements/meters"

@attribute [Navigation(
Order = 11,
Title = "Meters",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(MeasurementsPage),
Allows = [RoleModel.OperatorRepresentative])]
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Models.Abstractions
@using Ozds.Business.Models.Base
@using Ozds.Business.Models
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Records
@using Ozds.Client.State
@using Ozds.Client.Components.Fields
@inherits Ozds.Client.Components.Base.OzdsComponentBase

@if (RepresentativeState.Representative.Role
  is not RoleModel.OperatorRepresentative)
{
  <NotFound/>
  return;
}

<HeadContent>
  <title>OZDS - @Translate("Meters")</title>
</HeadContent>

<MudCheckBox
  Label="@Translate("Deleted")"
  @bind-Value="_deleted"/>

<Paging T="IMeter" Deleted="@_deleted"/>

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <MudLink Href="@(PageHref<MeterPage>())">
    @Translate("Create")
  </MudLink>
  <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Abb">
      <UploadField TModel="AbbB2xMeterModel" TRecord="AbbB2xMeterRecord" />
    </MudTabPanel>
    <MudTabPanel Text="Schneider">
      <UploadField TModel="SchneideriEM3xxxMeterModel" TRecord="SchneideriEM3xxxMeterRecord" />
    </MudTabPanel>
  </MudTabs>
}

@code {

  [CascadingParameter]
  private RepresentativeState RepresentativeState { get; set; } = default!;

  private bool _deleted;
}
