@using MudBlazor
@namespace Ozds.Client.Pages

@page "/measurements/meters"

@attribute [Navigation(
Order = 11,
Title = "Meters",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(MeasurementsPage),
Allows = [RoleModel.OperatorRepresentative])]
@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Tables
@using Ozds.Client.State
@inherits Ozds.Client.Components.Base.OzdsComponentBase

@if (RepresentativeState.Representative.Role
  is not RoleModel.OperatorRepresentative)
{
  <NotFound/>
  return;
}

<HeadContent>
  <title>OZDS - @Translate("Meters")</title>
</HeadContent>

<MudCheckBox
  Label="@Translate("Deleted")"
  @bind-Value="_deleted"/>

<Paging T="IMeter" Deleted="@_deleted" />

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <MudLink Href="@(PageHref<MeterPage>())">
    @Translate("Create")
  </MudLink>
}

@code {

  [CascadingParameter]
  private RepresentativeState RepresentativeState { get; set; } = default!;

  private bool _deleted = false;
}
