@namespace Ozds.Client.Pages

@page "/system/notifications"

@attribute [Navigation(
Order = -1000,
Title = "Notifications",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(SystemPage),
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Notifications")</title>
</HeadContent>

<MudCheckBox
  T="bool"
  Label="@(Translate("Seen"))"
  @bind-Value="_seen"/>

<Paging PageAsync="OnPageAsync">
  <Found Context="page">
    <Table Model="@(page.Items)">
      <Summary>
        <Summary Model="@context"/>
      </Summary>
      <Details>
        <Details Model="@context"/>
      </Details>
      <Columns>
        <Columns Models="page.Items"/>
      </Columns>
    </Table>
  </Found>
</Paging>

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <MudLink Href="@(PageHref<NotificationPage>())">
    @Translate("Create")
  </MudLink>
}
