@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.DependencyInjection
@using MudBlazor
@using Ozds.Business.Models.Abstractions
@using Ozds.Business.Models.Base
@using Ozds.Business.Models.Enums
@using Ozds.Business.Queries
@using Ozds.Business.Queries.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Tables
@using Ozds.Client.Components.Models
@using Ozds.Client.State

@namespace Ozds.Client.Pages

@page "/system/notifications"

@attribute [Navigation(
  Order = -1000,
  Title = "Notifications",
  Icon = Icons.Material.Filled.VerifiedUser,
  Parent = typeof(SystemPage),
  Allows = [
    RoleModel.OperatorRepresentative,
    RoleModel.LocationRepresentative,
    RoleModel.NetworkUserRepresentative
  ])]

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Notifications")</title>
</HeadContent>

<MudCheckBox
  T="bool"
  Label="@(Translate("Seen"))"
  @bind-Value="_seen" />

<Paging PageAsync="OnPageAsync">
  <Found Context="page">
    <ResponsiveTable Model="@(page.Items)">
      <Summary>
        <Summary Model="@context" />
      </Summary>
      <Details>
        <Details Model="@context" />
      </Details>
      <Columns>
        <Columns Models="page.Items" />
      </Columns>
    </ResponsiveTable>
  </Found>
</Paging>
