@namespace Ozds.Client.Pages

@page "/system/notification/{id?}"
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@inherits Ozds.Client.Components.Models.Base.OzdsIdentifiableModelPageComponentBase<Ozds.Business.Models.Abstractions.INotification>

@{
  var value = NotificationsState.Notifications.Find(x => x.Id == Id);
}

@if (RepresentativeState.Representative.Role
  is not RoleModel.OperatorRepresentative)
{
  <Loading T="INotification" Id="@Id" Value="@value">
    <Found>
      <HeadContent>
        <title>OZDS - @Translate("Notification"): @context.Title</title>
      </HeadContent>

      <Details Model="@context"/>
    </Found>
    <NotFound>
      <NotFound/>
    </NotFound>
  </Loading>

  return;
}

<Mutating
  T="INotification"
  Id="@Id"
  Value="@value"
  LoadAsync="OnLoadAsync"
  NewAsync="OnNewAsync"
  CreateAsync="OnCreateAsync"
  AsReadonly>
  <Label>
    <HeadContent>
      @if (context.Created)
      {
        <title>OZDS - @Translate("New notification")</title>
      }
      else
      {
        <title>OZDS - @Translate("Notification"): @context.Model.Title</title>
      }
    </HeadContent>
  </Label>
  <Edit>
    <Edit Model="@context.Model"/>
  </Edit>
  <Details>
    <Details Model="@context.Model"/>

    @if (!context.Created)
    {
      <div class="d-flex flex-row mt-4 justify-end">
        <MudButton
          Variant="Variant.Filled"
          Class="align-self-end" fre
          OnClick="@(() => OnMarkAsSeen(context.Model))">
          @Translate("Mark as seen")
        </MudButton>
      </div>

      @if (context.Model is IResolvableNotification resolvableNotification
        && resolvableNotification.ResolvedOn is null)
      {
        <div class="d-flex flex-row mt-4 justify-end">
          <MudButton
            Variant="Variant.Filled"
            Class="align-self-end"
            OnClick="@(() => OnMarkAsResolved(resolvableNotification))">
            @Translate("Mark as resolved")
          </MudButton>
        </div>
      }
    }
  </Details>
</Mutating>
