<!-- TODO: remove summations and store directly on calculation -->

<style>
  table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid black;
  }

  th {
    background-color: #DDDDDD;
  }

  th, td {
    border: 1px solid black;
    padding: 2px;
  }

  .inductive-label {
    border-bottom: 1px solid black;
    padding: 2px;
    display: flex;
    justify-content: space-between;
  }

  .capacitative-label {
    padding: 2px;
    display: flex;
    justify-content: space-between;
  }
</style>

<p>
  <strong>
    <u>
      @T["SPECIFICATION OF CONSUMPTION AT BILLING METERING POINTS"]
    </u>
  </strong>
</p>
<p style="margin-top: 0.8rem;">
  @T["Name of the billing metering point (OMM)"]:
  @(Calculation.ArchivedNetworkUserMeasurementLocation.Title)
</p>
<p>
  @T["Number of the billing metering point (OMM)"]:
  @(Calculation.ArchivedNetworkUserMeasurementLocation.Id)
</p>
<p>
  @T["Tariff model"]: @(Calculation.Kind)
</p>
<p style="margin-top: 1.2rem; margin-left: 0.8rem;">
  <strong>@T["A) NETWORK USAGE FEE FOR ZDS"]</strong>
</p>
<table style="margin-top: 0.8rem; width: 100%">
  <colgroup>
    <col style="width: 15%"/>
    <col style="width: 8%"/>
    <col style="width: 8%"/>
    <col style="width: 9%"/>
    <col style="width: 10%"/>
    <col style="width: 10%"/>
    <col style="width: 6%"/>
    <col style="width: 12%"/>
    <col style="width: 8%"/>
    <col style="width: 8%"/>
  </colgroup>
  <thead>
  <tr class="header">
    <th>@T["Number of devices"]</th>
    <th>@T["Date from"]</th>
    <th>@T["Date to"]</th>
    <th>@T["Tariff item"]</th>
    <th>@T["Status from"]</th>
    <th>@T["Status to"]</th>
    <th>@T["Status"]</th>
    <th>@T["Usage"] (kWh/kW/kVAR)</th>
    <th>@T["Unit"] (EUR)</th>
    <th>@T["Total"] (EUR)</th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd">
    <td rowspan="@usageRowspan">
      @(Calculation.ArchivedMeter.Id)
    </td>
    <td rowspan="@usageRowspan">
      @DateString(Calculation.FromDate)
    </td>
    <td rowspan="@usageRowspan">
      @DateString(Calculation.ToDate)
    </td>
    @(
    Calculation.UsageItems.FirstOrDefault() is { } usageItem
      ? renderItem(usageItem)
      : null)
  </tr>
  @foreach (var item in Calculation.UsageItems.Skip(1))
  {
    <tr>
      @renderItem(item)
    </tr>
  }
  <tr class="odd">
    <td colspan="5"></td>
    <td colspan="4">
      <strong>@T["Network usage fee for ZDS - TOTAL"]:</strong>
    </td>
    <td style="text-align: right;">
      <strong>
        @NumericString(Calculation.UsageFeeTotal_EUR, 2) EUR
      </strong>
    </td>
  </tr>
  </tbody>
</table>
<p style="margin-top: 1.2rem; margin-left: 0.8rem;">
  <strong>@T["B) ELECTRICITY SUPPLY FEE"]</strong>
</p>
<table style="margin-top: 0.8rem;">
  <colgroup>
    <col style="width: 15%"/>
    <col style="width: 8%"/>
    <col style="width: 8%"/>
    <col style="width: 9%"/>
    <col style="width: 10%"/>
    <col style="width: 10%"/>
    <col style="width: 5%"/>
    <col style="width: 12%"/>
    <col style="width: 9%"/>
    <col style="width: 8%"/>
  </colgroup>
  <thead>
  <tr class="header">
    <th>@T["Number of devices"]</th>
    <th>@T["Date from"]</th>
    <th>@T["Date to"]</th>
    <th>@T["Tariff item"]</th>
    <th>@T["Status from"]</th>
    <th>@T["Status to"]</th>
    <th>@T["Status"]</th>
    <th>@T["Usage"] (kWh)</th>
    <th>@T["Unit"] (EUR)</th>
    <th>@T["Total"] (EUR)</th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd">
    <td rowspan="@supplyRowspan">
      @Calculation.ArchivedMeter.Id
    </td>
    <td rowspan="@supplyRowspan">
      @DateString(Calculation.FromDate)
    </td>
    <td rowspan="@supplyRowspan">
      @DateString(Calculation.ToDate)
    </td>
    @(
    Calculation.SupplyItems.FirstOrDefault() is { } supplyItem
      ? renderItem(supplyItem)
      : null)
  </tr>
  @foreach (var item in Calculation.SupplyItems.Skip(1))
  {
    <tr>
      @renderItem(item)
    </tr>
  }
  <tr class="odd">
    <td colspan="4"></td>
    <td colspan="5">
      <strong>@T["Fee for electricity supply - TOTAL"]:</strong>
    </td>
    <td style="text-align: right;">
      <strong>
        @NumericString(Calculation.SupplyFeeTotal_EUR, 2) EUR
      </strong>
    </td>
  </tr>
  </tbody>
</table>


@code {

  [Parameter]
  public INetworkUserCalculation Calculation { get; set; } = default!;

  private int usageRowspan
  {
    get
    {
      var usageItemCount = Calculation.UsageItems.Count();
      return usageItemCount == 0 ? 1 : usageItemCount;
    }
  }

  private int supplyRowspan
  {
    get
    {
      var supplyItemCount = Calculation.SupplyItems.Count();
      return supplyItemCount == 0 ? 1 : supplyItemCount;
    }
  }

  private RenderFragment renderItem(ICalculationItem item) =>
    item is ReactiveEnergyTotalRampedT0CalculationItemModel reactiveItem
      ? @<Fragment>
          <td>
            <strong>@T["JEN"]</strong>
          </td>
          <td style="padding: 0;">
            <p class="inductive-label">
              <strong>
                @T["IND"]:
              </strong>
              <span>
                @NumericString(reactiveItem.ReactiveImportMin_kVARh, 2)
              </span>
            </p>
            <p class="capacitative-label">
              <strong>
                @T["KAP"]:
              </strong>
              <span>
                @NumericString(reactiveItem.ReactiveExportMin_kVARh, 2)
              </span>
            </p>
          </td>
          <td style="padding: 0;">
            <p class="inductive-label">
              <strong>
                @T["IND"]:
              </strong>
              <span>
                @NumericString(reactiveItem.ReactiveImportMax_kVARh, 2)
              </span>
            </p>
            <p class="capacitative-label">
              <strong>
                @T["KAP"]:
              </strong>
              <span>
                @NumericString(reactiveItem.ReactiveExportMax_kVARh, 2)
              </span>
            </p>
          </td>
          <td style="text-align: center;">O</td>
          <td style="text-align: right;">
            @NumericString(reactiveItem.Amount_kVARh, 0)
          </td>
          <td style="text-align: right;">
            @NumericString(reactiveItem.Price_EUR, 6)
          </td>
          <td style="text-align: right;">
            @NumericString(reactiveItem.Total_EUR, 2)
          </td>
        </Fragment>
      : item is ActiveEnergyTotalImportCalculationItemModel energyItem
        ? @<Fragment>
            <td>
              <strong>@energyItem.Kind</strong>
            </td>
            <td style="text-align: right;">
              @NumericString(energyItem.Min_kWh, 2)
            </td>
            <td style="text-align: right;">
              @NumericString(energyItem.Max_kWh, 2)
            </td>
            <td style="text-align: center;">O</td>
            <td style="text-align: right;">
              @NumericString(energyItem.Amount_kWh, 0)
            </td>
            <td style="text-align: right;">
              @NumericString(energyItem.Price_EUR, 6)
            </td>
            <td style="text-align: right;">
              @NumericString(energyItem.Total_EUR, 2)
            </td>
          </Fragment>
        : item is ActivePowerTotalImportT1PeakCalculationItemModel powerItem
          ? @<Fragment>
              <td>
                <strong>@powerItem.Kind</strong>
              </td>
              <td style="text-align: right;"></td>
              <td style="text-align: right;"></td>
              <td style="text-align: center;">O</td>
              <td style="text-align: right;">
                @NumericString(powerItem.Amount_kW, 0)
              </td>
              <td style="text-align: right;">
                @NumericString(powerItem.Price_EUR, 3)
              </td>
              <td style="text-align: right;">
                @NumericString(powerItem.Total_EUR, 2)
              </td>
            </Fragment>
          : item is FeeCalculationItemModel feeItem
            ? @<Fragment>
                <td colspan="4">
                  <strong>@feeItem.Kind</strong>
                </td>
                <td style="text-align: right;">
                  @NumericString(feeItem.Amount_N, 0)
                </td>
                <td style="text-align: right;">
                  @NumericString(feeItem.Price_EUR, 3)
                </td>
                <td style="text-align: right;">
                  @NumericString(feeItem.Total_EUR, 2)
                </td>
              </Fragment>
            : throw new InvalidOperationException(
              $"Unsupported item type: {item.GetType()}");

}
