<style>
  .calculation-table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid black;
  }

  .calculation-table th {
    background-color: #DDDDDD;
  }

  .calculation-table th, .calculation-table td {
    border: 1px solid black;
    padding: 2px;
  }

  .info-table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid black;
    margin-top: 1.2rem;
    margin-left: auto;
    width: 75%;
  }

  .info-table th, .info-table td {
    border: 1px solid black;
    padding: 2px;
  }

  .info-table th {
    font-weight: normal;
  }

  .info-table tr {
    height: 1.2rem;
    align-items: center;
  }
</style>

<p style="text-align: right;">
  RAČUN BR. @(Invoice.Id)
</p>
<table class="info-table" style="margin-top: 0.8rem; width: 100%;">
  <colgroup>
    <col style="width: 57%" />
    <col style="width: 19%" />
    <col style="width: 23%" />
  </colgroup>
  <thead>
    <tr>
      <th style="text-align: start;">
        <strong>@(Invoice.ArchivedLocation.Title)</strong>
      </th>
      <th style="text-align: end;">DATUM ISPORUKE:</th>
      <th style="text-align: start;">
        @(DateString(Invoice.ToDate.AddTicks(-1)))
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@Invoice.ArchivedLocation.Title</td>
      <td style="text-align: end;">DOSPIJEĆE:</td>
      <td>@DateString(Invoice.IssuedOn)</td>
    </tr>
    <tr>
      <td>@Invoice.ArchivedLocation.LegalPerson.Address</td>
      <td style="text-align: end;">DATUM UGOVORA:</td>
      <td>@DateString(Invoice.IssuedOn)</td>
    </tr>
    <tr>
      <td>
        @Invoice.ArchivedLocation.LegalPerson.PostalCode
        @Invoice.ArchivedLocation.LegalPerson.City
      </td>
      <td style="text-align: end;">UGOVOR:</td>
      <td>@Invoice.ArchivedLocation.Id</td>
    </tr>
    <tr>
      <td>OIB: @Invoice.ArchivedLocation.LegalPerson.SocialSecurityNumber</td>
      <td style="text-align: end;">NOSIOC:</td>
      <td>@Invoice.ArchivedLocation.Id</td>
    </tr>
  </tbody>
</table>
<p style="margin-top: 1.2rem; text-align: right;">
  ZA ELEKTRIČNU ENERGIJU ZA RAZDOBLJE: OD
  <strong>
    @(DateString(Invoice.FromDate))
  </strong>
  DO
  <strong>
    @(DateString(Invoice.ToDate.AddTicks(-1)))
  </strong>
</p>
<table class="calculation-table" style="margin-top: 0.8rem; width: 100%;">
  <colgroup>
    <col style="width: 10%;" />
    <col style="width: 80%;" />
    <col style="width: 10%;" />
  </colgroup>
  <thead>
    <tr>
      <th>RBR</th>
      <th>NAZIV ARTIKLA / USLUGE</th>
      <th>UKUPNO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center;">1.)</td>
      <td>Naknada za korištenje mreže ZDS-a</td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: center; padding-left: 1.2rem;">1.1.)</td>
      <td>Korištenje mreže u doba jedne tarife</td>
      <td style="text-align: end;">
        @DecimalString(Invoice.UsageActiveEnergyTotalImportT0Fee_EUR, 2)
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-left: 1.2rem;">1.2.)</td>
      <td>Korištenje mreže u doba više tarife</td>
      <td style="text-align: end;">
        @DecimalString(Invoice.UsageActiveEnergyTotalImportT1Fee_EUR, 2)
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-left: 1.2rem;">1.3.)</td>
      <td>Korištenje mreže u doba niže tarife</td>
      <td style="text-align: end;">
        @DecimalString(Invoice.UsageActiveEnergyTotalImportT2Fee_EUR, 2)
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-left: 1.2rem;">1.4.)</td>
      <td>Angažirana snaga u doba više tarife</td>
      <td style="text-align: end;">
        @DecimalString(Invoice.UsageActivePowerTotalImportT1PeakFee_EUR, 2)
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-left: 1.2rem;">1.5.)</td>
      <td>Prekomjerno preuzeta jalova energija</td>
      <td style="text-align: end;">
        @DecimalString(Invoice.UsageReactiveEnergyTotalRampedT0Fee_EUR, 2)
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-left: 1.2rem;">1.6.)</td>
      <td>Naknada za mjernu uslugu</td>
      <td style="text-align: end;">
        @DecimalString(Invoice.UsageMeterFee_EUR, 2)
      </td>
    </tr>
    <tr>
      <td></td>
      <td style="text-align: end;">Naknada za korištenje mreže - UKUPNO</td>
      <td style="text-align: end;">
        <strong>
          @DecimalString(Invoice.UsageFeeTotal_EUR, 2) EUR
        </strong>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;">2.)</td>
      <td>Naknada za opskrbu električnom energijom</td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: center; padding-left: 1.2rem;">2.1.)</td>
      <td>Opskrba električnom energijom u doba više dnevne tarife</td>
      <td style="text-align: end;">
        @DecimalString(Invoice.SupplyActiveEnergyTotalImportT1Fee_EUR, 2)
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-left: 1.2rem;">2.2.)</td>
      <td>Opskrba električnom energijom u doba niže dnevne tarife</td>
      <td style="text-align: end;">
        @DecimalString(Invoice.SupplyActiveEnergyTotalImportT2Fee_EUR, 2)
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-left: 1.2rem;">2.3.)</td>
      <td>
        Naknada za poticanje proizvodnje iz obnovljivih izvora energije i
        kogeneracije
      </td>
      <td style="text-align: end;">
        @DecimalString(Invoice.SupplyRenewableEnergyFee_EUR, 2)
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding-left: 1.2rem;">2.4.)</td>
      <td>Opskrba električnom energijom u doba niže dnevne tarife</td>
      <td style="text-align: end;">
        @DecimalString(Invoice.SupplyBusinessUsageFee_EUR, 2)
      </td>
    </tr>
    <tr>
      <td></td>
      <td style="text-align: end;">Naknada za opskrbu – UKUPNO</td>
      <td style="text-align: end;">
        <strong>
          @DecimalString(Invoice.SupplyFeeTotal_EUR, 2) EUR
        </strong>
      </td>
    </tr>
  </tbody>
</table>
<table class="info-table">
  <colgroup>
    <col style="width: 76%" />
    <col style="width: 23%" />
  </colgroup>
  <thead>
    <tr>
      <th style="text-align: right;">UKUPNO:</th>
      <th style="text-align: right;">
        @DecimalString(Invoice.Total_EUR, 2) EUR
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: right;">
        PDV (@(Invoice.ArchivedRegulatoryCatalogue.TaxRate_Percent)%):
      </td>
      <td style="text-align: right;">
        @DecimalString(Invoice.Tax_EUR, 2) EUR
      </td>
    </tr>
    <tr>
      <td style="text-align: right;"><strong>SVEUKUPNI IZNOS:</strong></td>
      <td style="text-align: right;">
        @DecimalString(Invoice.TotalWithTax_EUR, 2) EUR
      </td>
    </tr>
  </tbody>
</table>

@code {
  [Parameter]
  public NetworkUserInvoiceModel Invoice { get; set; } = default!;
}
