<p>
  <u><strong>@T["Note to users ZDS-a"]</strong>:</u>
</p>
<p>@T["You can submit questions, complaints, and written grievances to"]:</p>
<blockquote>
  <p>
    @T["Address"]:
    <strong>HELB d.o.o., Industrijska ulica 1, Božjakovina, 10370 DUGO SELO</strong>
    @T["or"]
  </p>
  <p>
    E-mail: <a href="mailto:ozds@helb.hr">ozds@helb.hr</a>;
    @T["Phone"]: <strong>+385 1 2781 440</strong>
  </p>
</blockquote>
