<style>
  .calculation-table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid black;
  }

  .calculation-table th {
    background-color: #DDDDDD;
  }

  .calculation-table th, .calculation-table td {
    border: 1px solid black;
    padding: 2px;
  }

  .info-table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid black;
    margin-top: 1.2rem;
    margin-left: auto;
    width: 75%;
  }

  .info-table th, .info-table td {
    border: 1px solid black;
    padding: 2px;
  }

  .info-table th {
    font-weight: normal;
  }

  .info-table tr {
    height: 1.2rem;
    align-items: center;
  }
</style>

<p style="text-align: right;">
  @T["INVOICE NO."] @(Invoice.Id)
</p>
<table class="info-table" style="margin-top: 0.8rem; width: 100%;">
  <colgroup>
    <col style="width: 57%"/>
    <col style="width: 19%"/>
    <col style="width: 23%"/>
  </colgroup>
  <thead>
  <tr>
    <th style="text-align: start;">
      <strong>@(Invoice.ArchivedLocation.Title)</strong>
    </th>
    <th style="text-align: end;">@T["ISSUE DATE"]:</th>
    <th style="text-align: start;">
      @(DateString(Invoice.ToDate.AddTicks(-1)))
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>@Invoice.ArchivedLocation.Title</td>
    <td style="text-align: end;">@T["DUE DATE"]:</td>
    <td>@DateString(Invoice.IssuedOn)</td>
  </tr>
  <tr>
    <td>@Invoice.ArchivedLocation.LegalPerson.Address</td>
    <td style="text-align: end;">@T["CONTRACT DATE"]:</td>
    <td>@DateString(Invoice.IssuedOn)</td>
  </tr>
  <tr>
    <td>
      @Invoice.ArchivedLocation.LegalPerson.PostalCode
      @Invoice.ArchivedLocation.LegalPerson.City
    </td>
    <td style="text-align: end;">@T["CONTRACT"]:</td>
    <td>@Invoice.ArchivedLocation.Id</td>
  </tr>
  <tr>
    <td>@T["SOCIAL SECURITY CODE"]: @Invoice.ArchivedLocation.LegalPerson.SocialSecurityNumber</td>
    <td style="text-align: end;">@T["NOSIOC"]:</td>
    <td>@Invoice.ArchivedLocation.Id</td>
  </tr>
  </tbody>
</table>
<p style="margin-top: 1.2rem; text-align: right;">
  @T["FOR ELECTRICITY FOR THE PERIOD"]: @T["TO"]
  <strong>
    @(DateString(Invoice.FromDate))
  </strong>
  DO
  <strong>
    @(DateString(Invoice.ToDate.AddTicks(-1)))
  </strong>
</p>
<table class="calculation-table" style="margin-top: 0.8rem; width: 100%;">
  <colgroup>
    <col style="width: 10%;"/>
    <col style="width: 80%;"/>
    <col style="width: 10%;"/>
  </colgroup>
  <thead>
  <tr>
    <th>@T["RBR"]</th>
    <th>@T["NAME ARTICLE / SERVICE"]</th>
    <th>@T["TOTAL"]</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td style="text-align: center;">1.)</td>
    <td>@T["Network usage fee for ZDS"]</td>
    <td></td>
  </tr>
  <tr>
    <td style="text-align: center; padding-left: 1.2rem;">1.1.)</td>
    <td>@T["Network usage during one tariff period"]</td>
    <td style="text-align: end;">
      @DecimalString(Invoice.UsageActiveEnergyTotalImportT0Fee_EUR)
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding-left: 1.2rem;">1.2.)</td>
    <td>@T["Network usage during multiple tariff periods"]</td>
    <td style="text-align: end;">
      @DecimalString(Invoice.UsageActiveEnergyTotalImportT1Fee_EUR)
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding-left: 1.2rem;">1.3.)</td>
    <td>@T["Network usage during off-peak tariff period"]</td>
    <td style="text-align: end;">
      @DecimalString(Invoice.UsageActiveEnergyTotalImportT2Fee_EUR)
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding-left: 1.2rem;">1.4.)</td>
    <td>@T["Engaged power during multiple tariff periods"]</td>
    <td style="text-align: end;">
      @DecimalString(Invoice.UsageActivePowerTotalImportT1PeakFee_EUR)
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding-left: 1.2rem;">1.5.)</td>
    <td>@T["Excessively taken reactive power"]</td>
    <td style="text-align: end;">
      @DecimalString(Invoice.UsageReactiveEnergyTotalRampedT0Fee_EUR)
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding-left: 1.2rem;">1.6.)</td>
    <td>@T["Metering service fee"]</td>
    <td style="text-align: end;">
      @DecimalString(Invoice.UsageMeterFee_EUR)
    </td>
  </tr>
  <tr>
    <td></td>
    <td style="text-align: end;">@T["Network usage fee - TOTAL"]</td>
    <td style="text-align: end;">
      <strong>
        @DecimalString(Invoice.UsageFeeTotal_EUR) EUR
      </strong>
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">2.)</td>
    <td>@T["Electricity supply fee"]</td>
    <td></td>
  </tr>
  <tr>
    <td style="text-align: center; padding-left: 1.2rem;">2.1.)</td>
    <td>@T["Electricity supply during multi-rate daily tariff period"]</td>
    <td style="text-align: end;">
      @DecimalString(Invoice.SupplyActiveEnergyTotalImportT1Fee_EUR)
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding-left: 1.2rem;">2.2.)</td>
    <td>@T["Electricity supply during off-peak daily tariff period"]</td>
    <td style="text-align: end;">
      @DecimalString(Invoice.SupplyActiveEnergyTotalImportT2Fee_EUR)
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding-left: 1.2rem;">2.3.)</td>
    <td>
      @T["Fee for encouraging production from renewable energy sources and cogeneration"]
    </td>
    <td style="text-align: end;">
      @DecimalString(Invoice.SupplyRenewableEnergyFee_EUR)
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding-left: 1.2rem;">2.4.)</td>
    <td>@T["Electricity supply during off-peak daily tariff period"]</td>
    <td style="text-align: end;">
      @DecimalString(Invoice.SupplyBusinessUsageFee_EUR)
    </td>
  </tr>
  <tr>
    <td></td>
    <td style="text-align: end;">@T["Supply fee – TOTAL"]</td>
    <td style="text-align: end;">
      <strong>
        @DecimalString(Invoice.SupplyFeeTotal_EUR) EUR
      </strong>
    </td>
  </tr>
  </tbody>
</table>
<table class="info-table">
  <colgroup>
    <col style="width: 76%"/>
    <col style="width: 23%"/>
  </colgroup>
  <thead>
  <tr>
    <th style="text-align: right;">@T["TOTAL"]:</th>
    <th style="text-align: right;">
      @DecimalString(Invoice.Total_EUR) EUR
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td style="text-align: right;">
      @T["VAT"] (@(Invoice.ArchivedRegulatoryCatalogue.TaxRate_Percent)%):
    </td>
    <td style="text-align: right;">
      @DecimalString(Invoice.Tax_EUR) EUR
    </td>
  </tr>
  <tr>
    <td style="text-align: right;">
      <strong>@T["FULL TOTAL"]:</strong>
    </td>
    <td style="text-align: right;">
      @DecimalString(Invoice.TotalWithTax_EUR) EUR
    </td>
  </tr>
  </tbody>
</table>

@code {

  [Parameter]
  public NetworkUserInvoiceModel Invoice { get; set; } = default!;

}
