@namespace Ozds.Client.Components.Charts
@using MudBlazor
@using Ozds.Business.Models.Enums
@using Ozds.Client.Components.Streaming
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<div class="d-flex justify-center">
  <MudText>
    @if (Parameters.Meters.Count() == 1)
    {
      <Fragment>
        @Translate(Parameters.Meters.FirstOrDefault()!.Title)
        &nbsp;
      </Fragment>
    }
    @if (Parameters.MeasurementLocations.Count() == 1)
    {
      <Fragment>
        @Translate(Parameters.MeasurementLocations.FirstOrDefault()!.Title)
        &nbsp;
      </Fragment>
    }
    @if (Parameters.Operator != OperatorModel.Last)
    {
      <Fragment>
        @Translate("over the last")
        &nbsp;
        @(Parameters.Multiplier == 1 ? "" : Parameters.Multiplier.ToString())
        &nbsp;
        @Translate(Parameters.Resolution.ToTitle(Parameters.Multiplier))
      </Fragment>
    }
  </MudText>
</div>

@code {

  [Parameter]
  public FinancialChartParameters Parameters { get; set; } = default!;

}
