@using System.Globalization
@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Http
@inject IAntiforgery Antiforgery
@inject IHttpContextAccessor HttpContextAccessor

<MudLayout>
  <MudAppBar Elevation="4">
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
      <MudIconButton
        Icon="@Icons.Material.Outlined.Menu"
        Color="MudColor.Inherit"
        Edge="Edge.Start"
        OnClick="e => DrawerToggle()"/>
    </MudHidden>
    <MudImage Src="/logo.svg" Alt="HELB" Style="height: 50%;padding-left: 20px;"/>
    <MudSpacer/>
    <MudMenu AnchorOrigin="Origin.CenterLeft" Dense="true" Class="mt-1 ml-4">
      <ActivatorContent>
        <MudButton Variant="Variant.Outlined" Class="mx-2" Style="color: white; border-color: white;">
          @CultureInfo.CurrentCulture.TwoLetterISOLanguageName.ToUpper()
        </MudButton>
      </ActivatorContent>
      <ChildContent>
        <MudListItem Text="HR" Href="@(ChangeLang("hr-HR"))" ForceLoad="true"/>
        <MudListItem Text="EN" Href="@(ChangeLang("en-US"))" ForceLoad="true"/>
      </ChildContent>
    </MudMenu>
    <MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true" Class="mt-1 ml-4">
      <ActivatorContent>
        <MudItem Class="mx-2">
          @UserState?.User.UserName
        </MudItem>
        <MudIcon Icon="@Icons.Material.Filled.Person"/>
      </ActivatorContent>
      <ChildContent>
        <MudListItem Text="Account" Icon="@Icons.Material.Outlined.Person" Href="account" ForceLoad="true"/>
        <MudListItem Text="Logout" Icon="@Icons.Material.Outlined.Login" ForceLoad="true">
          <form method="post" action="/Users/LogOff?returnUrl=/login">
            <input type="hidden" name="__RequestVerificationToken" value="@antiforgeryToken"/>
            <button class="btn" type="submit">Logout</button>
          </form>
        </MudListItem>
      </ChildContent>
    </MudMenu>
  </MudAppBar>
  <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Always">
    <MudNavMenu>
      @foreach (var route in MainLayout.GetNavigationDescriptors(RepresentativeState))
      {
        <MudNavLink Href="@route.Route" Icon="@route.Icon">
          @T[route.Title]
        </MudNavLink>
      }
    </MudNavMenu>
  </MudDrawer>
  <MudMainContent>
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
      <MudToolBar DisableGutters="true">
        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="MudColor.Inherit" OnClick="@(e => DrawerToggle())" Class="ml-3"/>
      </MudToolBar>
    </MudHidden>
    <MudContainer MaxWidth="MaxWidth.Large" Class="mt-4">
      @Body
    </MudContainer>
  </MudMainContent>
</MudLayout>

@code {
  [CascadingParameter] public UserState? UserState { get; set; } = default!;
  [CascadingParameter] public RepresentativeState? RepresentativeState { get; set; } = default!;

  public bool _drawerOpen = true;
  private string antiforgeryToken = string.Empty;

  protected override void OnInitialized()
  {
    var httpContext = HttpContextAccessor.HttpContext;
    if (httpContext != null)
    {
      var tokens = Antiforgery.GetAndStoreTokens(httpContext);
      antiforgeryToken = tokens.RequestToken ?? string.Empty;
    }
    else
    {
      antiforgeryToken = string.Empty;
    }
  }

  void DrawerToggle()
  {
    _drawerOpen = !_drawerOpen;
  }

  string ChangeLang(string culture)
  {
    var uri = new Uri(NavigationManager.Uri);
    var segments = uri.Segments;
    segments[2] = $"{culture}/";
    var path = string.Join("", segments);
    return path;
  }

}
